[2018-10-09 04:46] fineanmol opened #1 "Feature request"
---
name: Feature request
about: Suggest an idea for this project

---

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise descr

[2018-10-09 04:46] fineanmol opened #2 "Remove redundant files from CSS/JS folder 😯"
---
name: Custom issue template
about: Describe this issue template's purpose here.

---

[2018-10-09 04:47] fineanmol opened #3 "CSS Styling/Contributors Count of Contribution.html page is needed !"
- CSS Styling Needed or count of Contributors needed

- It can be the CSS styling of the webpage Contribution.html

- You can even work on the grid system of that page, to make it more wonderful

- Animation while moving the cursor over any name can be improved too

- or you can just add your name to the contributors and make a pull request.

[2018-10-11 14:12] xevenheaven commented on #3
Added a slight improvement to the hover css! :)

[2019-10-15 17:31] bansaljas commented on #3
I'd like to contribute. Is the still open?
This is my first time open source contribution

[2019-10-16 03:47] fineanmol commented on #3
Yes , You can contribute in the repository! Go Ahead.

On Tue, 15 Oct 2019, 11:01 pm bansaljas, <notifications@github.com> wrote:

[2020-10-01 22:22] CHANDRAMANI70 commented on #3
can i contribute????

[2020-10-02 11:01] khushali77 commented on #3
Is this issue still open? Can I work on it?

[2020-10-02 16:59] fineanmol commented on #3
Yes, You can contribute to the repository! Go Ahead

[2020-10-02 16:59] fineanmol commented on #3
Yes, You can contribute to the repository! Go Ahead

[2020-10-02 17:05] fineanmol commented on #3
You did a beautiful Job 💯

[2021-09-29 17:52] Palaksharma23 commented on #3
hii @fineanmol i want to work on this issue , can you please assign it to me .

[2021-09-29 20:21] fineanmol commented on #3
Hey @Palaksharma23, Please go ahead. We would love to see your contribution.
 Do the changes after fork and create a pull request from your repo. 💡

[2021-09-30 06:40] Hermes179 commented on #3
Hi, @fineanmol  I'd like to contribute to this repo but I'm confused a bit if anyone can just point out in which sections I should it'll be really helpful?

[2021-09-30 10:16] fineanmol commented on #3
Hi @Hermes179 , Thank you for showing your interest in contribution. There are many things in which you can contribute.

- It can be the CSS styling of the webpage Contribution.html
- You can even work on the grid system of that page, to make it more wonderful
- Animation while moving the cursor over any name can be improved too
- or you can just add your name to the contributors and make a pull r

[2021-10-01 05:36] osamakhan552 commented on #3
Hi, @fineanmol ,Could you please assign me this issue. I am good at this and i would like to contribute to it.

[2021-10-01 05:43] shubhraagarwal commented on #2
Hey @fineanmol, I would like to work on this issue please assign it to me. Also, please add hacktoberfest label to the issue

[2021-10-01 06:14] fineanmol commented on #2
@shubhraagarwal Please do your contribution and make a pull request

[2021-10-01 06:21] fineanmol commented on #3
hello @osamakhan552, Please do you contribution and make a pull request. Happy Coding!!

[2021-10-01 09:38] fineanmol commented on #3
Hi @malburo Please do your contribution and make a pull request. Happy Coding!!

[2021-10-01 09:51] fineanmol opened #189 "Design Improvement Needed in Contribition.html"
Hello Guys, New Approach or designs are appreciated in Contribution.html
[Preview here](https://fineanmol.github.io/Hacktoberfest2k21/Contributors.html)

example:  The dark theme can be added with a toggle switch.
Card designs can be improved.

[2021-10-01 10:36] SukritSethi commented on #189
Hi, I am pretty new to web dev. But I think I can pull this off in 3-4 days. Could u assign me with the dark theme task of the page.

[2021-10-01 11:51] fineanmol commented on #189
Hi @SukritSethi , We are glad you want to contribute in this repo. Please fork this repo, made your changes and make a pull request.
We would love to see your work !

[2021-10-01 16:21] RahulRudra81 commented on #189
I am too a newbie but I think I could pull this off and also learn some good stuff . Can I  work on this?

[2021-10-01 17:29] fineanmol commented on #189
Yes Please, Do your contributions and pull a request.

[2021-10-01 17:29] Naman-pokhriyal commented on #189
I think the hover transition, card size, theme switch and few other things can be better.  Can I work on this?

[2021-10-01 17:33] fineanmol commented on #189
Yes Naman, Please show you magic ✨

[2021-10-01 17:52] SukritSethi opened #267 ""moon"/ "sun" before the dark mode toggle switch not Visible"

[2021-10-01 17:54] arunim-iiitlCS commented on #267
Hey @fineanmol can you assign me this issue under hacktoberfest tag so that ,I can work upon it.

Regards

[2021-10-01 18:00] fineanmol commented on #267
Hi @arunim-iiitlCS , Please do your contribution and make a pull request. We would love to see your magic ✨

[2021-10-01 18:43] Swagnik02 opened #280 "Add more java based programs !!"

[2021-10-01 18:55] fineanmol commented on #280
Hi @Swagnik02 , Please make your contribution and make a pull request

[2021-10-01 20:13] YellowFoxH4XOR commented on #267
This issue was resolved and merged. PR - #300

[2021-10-01 20:54] fineanmol commented on #267
No @YellowFoxH4XOR , I had to revert the code because of the case modification. It made the whole webpage layout disruptive.

[2021-10-02 03:08] sahilsaini110 commented on #3
I would love to do this if it is still open.

[2021-10-02 05:19] SuperAayush commented on #3
I have updated the contributor's list in Contribution.html and also made changes in text color in contribution.css and made a PR #326

[2021-10-02 06:16] Palaksharma23 commented on #3
@fineanmol  please once review this pull request . I have added text animation in word contributors in contribution.html .

[2021-10-02 06:18] Palaksharma23 commented on #267
Hii @fineanmol  I would love to work on this issue .
Can you please provide me some reference in which file i have to add sun and moon picture

[2021-10-02 06:19] Palaksharma23 commented on #267
sun and moon icon

[2021-10-02 06:26] tuminzee commented on #189
Hello I think a rounded image of our GitHub avatar would be more suitable for the page.
Please tell me what you think about it.

![image](https://user-images.githubusercontent.com/58180803/135706111-7941c165-c58e-489c-b25c-9fed929e8484.png)

[2021-10-02 06:35] Prakhar-creator commented on #280
hii, can I add data structures algorithms to this repo , participating in hacktoberfest!!!

[2021-10-02 07:01] tandrimasingha commented on #280
Name : Tandrima Singha
Domain: Python
Hello @fineanmol Sir, Please assign this to me

[2021-10-02 07:30] fineanmol commented on #3
Yes, You are welcome to make contribution

[2021-10-02 07:46] fineanmol commented on #189
Yes, Its looking lovely

[2021-10-02 08:33] vacodr commented on #280
Hi can you please assign this task to me also
Domain: Java
@fineanmol

[2021-10-02 09:15] SakshiJoshi26 commented on #280
Hello, I am participating in Hacktoberfest! please assign me this issue!

[2021-10-02 09:31] tuminzee commented on #189
#389

[2021-10-02 11:17] khareyash05 opened #409 "add contributing.md"
I would like to add contributing.md as a part of Hacktoberfest 2021

[2021-10-02 12:59] wildchaser1703 commented on #280
Hi, I would like to add DSA in Java too. Please assign it to me.

[2021-10-02 13:24] rupayanxn commented on #280
Hey, I am proficient in Java and participating in the Hacktoberfest. Please assign me this issue.

[2021-10-02 13:29] InnocentDaksh63 commented on #280
kindly assign me for this issue issue i m participating on hacktoberfest

[2021-10-02 13:43] PAARTH2608 commented on #409
I would like to work for this issue

[2021-10-02 13:44] PAARTH2608 commented on #280
I would like to add my contribution to this repo. please assign it to me

[2021-10-02 13:56] khareyash05 commented on #409
@PAARTH2608 I opened up the issue for myself

[2021-10-02 14:17] tuminzee opened #427 "Project Excluded Error Fix is in Progress | Our Teams are working on it."
![image](https://user-images.githubusercontent.com/58180803/135720331-213cfd0c-7c4b-404f-ab11-7eddd7f9d283.png)

[2021-10-02 14:39] ShreyaChopra13 commented on #427
I am getting the same message. Can anyone tell what this means?

[2021-10-02 17:34] fineanmol commented on #427
We are also not sure, why this is happening. Does anyone know about the **Solution** here?

[2021-10-02 17:37] arunim-iiitlCS commented on #267
Hi @fineanmol can you check my PR #440 if this issue is resolved or not.

Thanks and Regards

[2021-10-02 17:59] prabaljainn opened #444 "I want to add More Cryptography and Cpp Algos"
**Hey i want to contribute to this repo with more cpp algos please assign it to me**

[2021-10-02 18:22] Kaustubh251002 commented on #280
Hi @fineanmol could you please assign me this issue, I want to contribute to this issue as well.

[2021-10-02 18:30] prabaljainn commented on #444
Ok Now i have to just add algos ? I am new to Contribution

[2021-10-02 19:22] #444 closed

[2021-10-02 23:24] faizalanwar commented on #427
This repo has been banned

[2021-10-03 03:10] InnocentDaksh63 commented on #280
i have added a java program of simple calculator please merge my mode in your repo

[2021-10-03 05:14] Dimplesinha opened #461 "Add more C++ based programs!!"
I would like to add more c++ based programs

[2021-10-03 06:17] soumyajit1999 commented on #280
Hello sir @fineanmol  Can you assign this to me
Domain: Java

[2021-10-03 06:19] soumyajit1999 commented on #461
Hello I would like to add c++ based pogram

[2021-10-03 06:21] Abhinab21 commented on #461
I would like to add c++ based program

[2021-10-03 06:32] Adityadamen commented on #461
I would like to add c++ based program

[2021-10-03 08:24] C0mRD commented on #461
Hello Please assign me this . I would like to add more c++ based programs .

[2021-10-03 08:26] TahuTech commented on #461
Hello i can add more c++ programs.

[2021-10-03 08:32] ShreyaTarwey commented on #461
Hello @fineanmol , could you please assign this issue to me , so I can start working on it.
I would be grateful to get a chance to work on this!

[2021-10-03 09:29] moteeullahazmi commented on #280
Hi, Can you assign this to me for more java code.

[2021-10-03 11:23] #461 closed

[2021-10-03 17:12] gargi111 commented on #280
Hey!! @fineanmol Can you assign this to me
prferred language Java.

[2021-10-03 17:46] #409 closed

[2021-10-03 17:50] fineanmol commented on #189
Hi @tuminzee , Layout of the CSS has been conflicted, List view needs to be shown in Grid. Please try to contribute there.

[2021-10-03 17:55] fineanmol commented on #427
Hello All,
No worries, We are working with the concerned team, This issue is in progress and will be resolved Shortly. ✨
Thank you for being patient.

[2021-10-03 17:56] tuminzee commented on #427
Thank you for your response.

[2021-10-03 17:59] aark06 commented on #280
Hello, please assign this issue to me. thanks!

[2021-10-03 18:18] prabaljainn commented on #427
Thanks for your Response

[2021-10-04 01:32] arpit282 commented on #3
Hello, Can I also contribute to this?

[2021-10-04 02:37] vishal675 commented on #280
Hi, Can you assign this to me i would like to contribute.

[2021-10-04 04:09] HarshS1611 commented on #280
hello i am interested in working on this issue

[2021-10-04 04:44] fineanmol commented on #3
Yes, You are welcome to make contribution

[2021-10-04 06:36] Hrishabh5 commented on #267
This issue is now resolved.

[2021-10-04 07:31] ritweekraj2802 opened #528 "Prim's Minimum Spanning Tree"
I want to add "Prim's Minimum Spanning Tree" problem in c++ program section.
Please assign this to me.
I have participated in Hacktoberfest2021
Thank You

[2021-10-04 08:14] wildchaser1703 opened #530 "Identity Matrix in Java"
Hi! I have added the code for the identity matrix in Java. Please add it to the codebase.

[2021-10-04 09:53] RahulRudra81 commented on #189
@fineanmol I added my name in the contributors list and you merged it 2days ago but I can't see my name there now !! Can I add it again??

[2021-10-04 14:03] fineanmol commented on #189
Yes please. Maybe some other contributor removed your name by mistake.

[2021-10-04 18:07] Devrajsinh-Jhala commented on #2
Hello Sir @fineanmol Can you please assign this to me.
I really want to conribute

[2021-10-04 18:10] Devrajsinh-Jhala commented on #3
Sir @fineanmol  please assign this issue to me

[2021-10-04 18:49] fineanmol commented on #2
Please go Ahead and make a pull request.

[2021-10-04 19:20] #427 closed

[2021-10-05 04:17] Devrajsinh-Jhala commented on #2
Can anyone please guide me how to remove such redundant files? and how to spot them in first place

[2021-10-05 06:41] gc-shisir opened #578 "Broken live website link in readme file"
the link given in readme file for live website does not work

[2021-10-05 07:23] bidishaMondal7 commented on #578
Please assign it to me. Have figured out the issue @gc-shisir

[2021-10-05 07:34] gc-shisir commented on #578
This issue is already on the pull request pipeline @bidishaMondal7

[2021-10-05 07:36] gc-shisir commented on #578
@bidishaMondal7 also I just came to know that this project is marked as excluded by the hacktoberfest team. So the pull request won't be counted  as valid if you want to contribute for hacktoberfest.

[2021-10-05 07:37] gc-shisir commented on #578
Sorry to say that I am not the maintainer of this project for assigning the issue to someone

[2021-10-05 07:42] bidishaMondal7 commented on #578
okay no problem @gc-shisir

[2021-10-05 13:44] #578 closed

[2021-10-05 13:50] fineanmol commented on #530
Please share the Pull request No.

[2021-10-05 13:51] pratham1103 commented on #3
I would like to change the font style and some color corrections to it, please assign this issue to me

[2021-10-05 13:52] #267 closed

[2021-10-05 13:52] fineanmol opened #599 "Adding a "moon"/ "sun" before the dark mode toggle switch"

[2021-10-05 13:56] ipsitagoel opened #601 "Style Changes Required in Dark Mode."
When the dark mode toggle is clicked, the text at the end of Contributors.html is not visible.
![Screenshot of the issue](https://drive.google.com/file/d/1xboGg5fSxAkk3tgRZ0ZjfFDWBtv3XeO5/view?usp=sharing)

[2021-10-05 13:56] ipsitagoel commented on #601
@fineanmol Please assign this issue to me.

[2021-10-05 14:27] vivekarora-02 commented on #599
Hey there,
I would like to contribute towards this issue. Can ypu please assign me this issue?

ThankYou!

[2021-10-05 14:31] TD-17 commented on #599
@fineanmol Hey! I would like to work on this issue! Will you please assign this issue to me ?

[2021-10-05 14:33] bidishaMondal7 commented on #599
Hi @fineanmol ,
would like to contribute on the issue. kindly assign !

[2021-10-05 14:58] SamikshyaMstar commented on #280
Can you assign me this issue? I would like to contribute.

[2021-10-05 15:13] infoavsoftware commented on #599
sir i want to work on this issue for hacktoberfest 2021 as i am new but i know how we can do this!
please assign me this task kindly>>>

[2021-10-05 15:34] fineanmol commented on #280
Hi @SamikshyaMstar, @HarshS1611, @vishal675, @aark06, @gargi111, @moteeullahazmi, @soumyajit1999, @Kaustubh251002 , Please make your contribution and make a pull request ✨

[2021-10-05 16:55] pratham1103 commented on #3
@fineanmol  , I have added a pull request regarding the change in font style and color corrections, please do merge it and label it please !!

[2021-10-05 16:56] pratham1103 commented on #3
@fineanmol     https://github.com/fineanmol/Hacktoberfest2021/pull/603
this is my pull request

[2021-10-05 17:46] manisha069 commented on #427
Hello, I am maintainer as well, had listed your repo in my README in a curated list of repos to contribute to..

how are you working towards fixing the "excluded project" issue? Any insight would be valuable.

[2021-10-05 19:19] Rashmisingh-18 commented on #599
Hey @fineanmol, could you please assign this to me !!!

[2021-10-06 02:35] tannudaral opened #627 "Extra text in contributors list and footer text color change needed in dark mode"
![](https://user-images.githubusercontent.com/70472388/136131566-d44fe7ff-187a-45d2-ba99-e043174368ac.jpg)

![Screenshot 2021-10-06 080044](https://user-images.githubusercontent.com/70472388/136131575-7e95dd66-8f63-4d77-a119-e23fec33c10c.jpg)

[2021-10-06 04:29] bidishaMondal7 commented on #627
Hi,
Would like to contribute on this. Can you please assign?

[2021-10-06 05:12] KholoodS commented on #599
Hello is this issue up for grabs?

[2021-10-06 05:22] SHIVANGISINGH1 commented on #3
I would like to contribute to this project , is this still open?

[2021-10-06 05:45] ritweekraj2802 commented on #528
please accept my PR.
Thank u

[2021-10-06 12:01] RahulRudra81 opened #644 "This repository is excluded from Hacktoberfest-2021"

[2021-10-06 14:20] sujal-ux opened #648 "Ford-Fulkerson Algorithm"
I want to add "Ford-Fulkerson Algorithm for maximum flow" in C++ section.
Kindly assign this to me, thank you.

[2021-10-06 14:21] #648 closed

[2021-10-06 19:46] vampnik commented on #599
Hey there ,
Can I work on this issue ?

[2021-10-06 22:09] fineanmol commented on #3
Yes

[2021-10-07 03:16] Pranit5895 commented on #280
Hi can you please assign this task to me also
Domain: Java
Participated in Hacktoberfest 2021

[2021-10-07 17:24] SANJAY-NT opened #687 "Bellman ford algorithm"
Feature
Wanted to add bellmon ford algorithm in java.

[2021-10-07 19:37] HarshJ27 commented on #599
Hi sir, I am an aspiring web developer and I have a startup also in which we do web development. That's why I am confident that I can handle this issue very well. Please assign this issue to me.

[2021-10-08 04:30] DikshaNegi13 commented on #601
@fineanmol please assign this issue to me

[2021-10-08 05:37] yashguptaji commented on #687
Can u assign it to me

[2021-10-08 06:45] palakyadav1807 opened #702 "Improving heading and re-positioning toggle button"
### **Current Condition**
![InkedScreenshot 2021-10-08 110308_LI](https://user-images.githubusercontent.com/67941687/136510196-c131d224-bce3-4b91-83b3-e3c06c126bc8.jpg)

### **Changes required**

-  Task 1 : Making Heading **Contributors** to look like a heading.

-  Task 2 : Shifting Toggle button to right side of the page.

### After making changes it should look like this or may be better :-
<i

[2021-10-08 09:20] prajna-spec opened #706 "issue when I push my changes"
git push --set upstream origin my-new-branch
remote: Permission to fineanmol/Hacktoberfest2k21.git denied to prajna-spec.
fatal: unable to access 'https://github.com/fineanmol/Hacktoberfest2k21/': The requested URL returned error: 403
Any help is appreciated

[2021-10-08 12:47] SANJAY-NT commented on #687
The issue is completed.

[2021-10-08 15:00] viveena30 opened #715 "replace Instagram Profile and Facebook profile with icons"

[2021-10-08 16:46] TheDesTrucToRR opened #717 "Sum and product of n terms of GP series in python"
A python program to find the sum and product of a GP series in Python.

[2021-10-08 16:47] TheDesTrucToRR commented on #717
@fineanmol please assing this issue to me.I want to work on it.

[2021-10-08 16:47] TheDesTrucToRR commented on #717
@fineanmol please assign this issue to me. I want to work on it.

[2021-10-08 16:50] TheDesTrucToRR opened #718 "Shortest path in weighted graph using Dijkstra algorithm in python"
A python program to find the shortest path between two vertices in weighted graph network.

[2021-10-08 21:54] #702 closed, assigned to palakyadav1807

[2021-10-08 21:58] fineanmol commented on #280
Hi @Anandu-kris , Please make your contribution and make a pull request

[2021-10-09 03:04] raazanand commented on #718
@fineanmol I would like to add Island Problem(Graph) in java.Please assign it to me under HacktoberFest-2021 tag.

[2021-10-09 05:30] anuragnewbie commented on #280
Hello @fineanmol sir! Sir, I am participating in hacktoberfest2021 and I want to make a contribution. Can you please assign me to this issue?

[2021-10-09 06:50] barunipriyats opened #730 "Add a back-to-top button in Contributors.html"
@fineanmol I would like to attach a back-to-top button in the Contributors page as the list of contributors is so long. Attaching a back-to-top button makes the user to reach the top of the page with just one click of a button. I am good in this kind of issue. I am participating in HacktoberFest 2021. I request you to assign this issue to me. Thank you.

[2021-10-09 06:57] dollygupta07 commented on #730
Hi @fineanmol , i would like to contribute to this issue, can you assign this to me?
thanks.

[2021-10-09 07:28] barunipriyats commented on #730
@dollygupta07 I created this issue so that I can work on it hence if you want to contribute please make an issue of your own.
@fineanmol Please assign this task to me under hacktoberfest tag. I can fix the issue.

[2021-10-09 15:46] SamikshyaMstar commented on #427
@fineanmol I guess u should add the Hacktober fest -accepted label, maybe that can help.

[2021-10-09 16:27] #687 closed, assigned to nobody

[2021-10-09 17:20] manisha069 commented on #427
@SamikshyaMstar unfortunately that wouldn't help either.. when a repo is excluded all PRs having hacktoberfest-accepted label and merged as well do not count.

[2021-10-09 18:13] gulshanjakhon commented on #730
hi please assign this task to me

[2021-10-09 18:14] gulshanjakhon commented on #715
Hi please assign this issue to me

[2021-10-10 04:11] altafshaikh opened #760 "This Project is Excluded from Hacktoberfest 2021."

[2021-10-10 07:30] HarshJ27 commented on #730
Hi, @fineanmol I've already PR in one of your issues and now I want to contribute to this issue too. I am capable of doing this perfectly. You can check out my work in my previous PR of the sun/moon button for the dark and light theme switch. Please allow me to resolve this issue. Thank You.

[2021-10-10 11:00] gulshanjakhon commented on #717
please assign this issue to me

[2021-10-10 11:17] geekytaurus115 opened #770 "Greedy Algorithms"
Hi,
I want to add "Greedy Algorithms" implementations in Java program section.
Please assign this to me.
I have participated in Hacktoberfest2021
Thank You

[2021-10-10 12:14] PaarthAgarwal commented on #730
Hi, @fineanmol please assign this issue to me

[2021-10-10 12:47] Mru2001 opened #775 "Add Navbar"
Can I work on this issue? Please assign it to me.

[2021-10-10 13:09] Vaibhav-512 commented on #280
Hi ! @fineanmol could you please assign this issue to me? I've participated in hacktoberfest 2021

[2021-10-10 13:33] PaarthAgarwal commented on #3
@fineanmol #777
This is my pull request. Please accept it under the hacktober-accepted tag. Thank you!

[2021-10-10 14:25] pshivesh8 opened #780 "I wanted to add Depth First Search using C++, please assign this to me as a part of Hacktoberfest2021"

[2021-10-10 18:12] aayushibansal2001 opened #786 "Enhancing the dark theme of the website"
@fineanmol I would like to enhance the dark theme of the webpage.
The div containing the heading CONTRIBUTORS and the paragraph below it are not clearly visible as they are written with black color on a nearly black background. I would like to work upon it. Please assign this issue to me.

![image](https://user-images.githubusercontent.com/51708118/136708101-4c3523ee-45f4-45f4-923e-c1a9f65ed724.pn

[2021-10-10 18:48] gulshanjakhon commented on #717
hi please check my PR My new branch 1 #788

[2021-10-10 19:10] kaneki-ken260 commented on #599
@fineanmol plz assign me this issue.

[2021-10-10 21:23] Vaibhav-512 commented on #717
Hi could you check my PR #774

[2021-10-11 07:31] Dushyant029 commented on #280
Hi @fineanmol I am interested in contribute on this issue

[2021-10-11 08:04] MiryamVicenteOllero opened #804 "Fibonacci sequence in C++"
Do the Fibonacci sequence in C++.
It's a series where the next term is the sum of pervious two terms.

[2021-10-11 09:58] prakhar-198 commented on #804
I'm good at resolving such issues may I please  work on this one ?...Please assign me this one.

[2021-10-11 15:30] MiryamVicenteOllero commented on #804
Hi, sorry but I made this issue because I want to do it for the HacktoberFest.
Please, could you kindly create another issue to work on it?

[2021-10-11 16:26] dyarawilliams opened #831 "Remove extra bootstrap cdn"
Hi, Can you assign me to this task? There are two bootstrap cdns and I would like to remove one.
![hacktoberfest-remove](https://user-images.githubusercontent.com/15236104/136823906-42a16f67-4d84-4fc7-8eb5-737f9f96bd87.png)

[2021-10-12 08:26] Pramila15 opened #857 "Page Not Found "https://fineanmol.github.io/Hacktoberfest2k21/Contributors.html""
Contributors of navbar is not found.

[2021-10-12 09:19] fineanmol commented on #857
Sure

[2021-10-12 12:59] code08-ind opened #861 "Hacktoberfest Contribution Not Shown"
The hacktoberfest-accepted label was added when there were some conflicts in the merge. So when now they are corrected up and merged along with the removal of conflicts, the contribution is not shown. Kindly merge my pull request. I think many will be facing this issue

[2021-10-12 13:01] #861 closed, assigned to nobody

[2021-10-12 18:15] fineanmol commented on #857
Fixed

[2021-10-12 18:15] #857 closed

[2021-10-13 01:19] dyarawilliams opened #875 "Rename README file for Program's Contributed By Contributors"
The readme.md file has a space between it (read me.md)

https://github.com/fineanmol/Hacktoberfest2021/tree/master/Program's_Contributed_By_Contributors
![Screenshot 2021-10-12 211714](https://user-images.githubusercontent.com/15236104/137050274-ede24a23-e4ce-4025-970e-aca91a376a15.png)

[2021-10-13 15:35] SayantanMaiti opened #888 "Enhancing dark mode and changes in navbar"
I would like to make the bottom text (on bottom of page as shown below) darker so that it is clearly visible.
![PR1](https://user-images.githubusercontent.com/68146055/137163097-0dbbc497-1da6-45c2-8039-272281d39cf8.PNG)
I want to fix the small typo in navbar, it should be "Add **your** name here". Please assign me this issue :)
I would also like your opinion on removing the Contributors link on na

[2021-10-14 11:13] officialdevking commented on #775
Please assign this to me

[2021-10-14 17:18] drashtipatel2503 opened #913 "sieve to print prime numbers"
please assign this to me under hacktoberfest. I will code in python

[2021-10-14 18:26] Abhishek-PratapSingh commented on #3
@fineanmol please merge the file for #781

[2021-10-14 19:48] #888 closed, assigned to SayantanMaiti

[2021-10-15 13:22] Amruta101998 opened #928 "I want to add Cryptography program in Python section. Please assign me as I am taking part in Hacktoberfest."

[2021-10-16 08:32] laloba36 commented on #913
Hey, please assign this to me.

[2021-10-16 13:30] hackgone commented on #804
Can you assign this to me

[2021-10-16 13:50] Harsh-1309 opened #948 "Add math algorithms"
Hi @fineanmol! I would like to add few math algorithms to `python_programs` directory, which I would try to implement in python. Can you assign this to me?

[2021-10-16 14:53] samyaksand opened #949 "Personal project - as a part of Hacktoberfest?"
@fineanmol Can I contribute my Spotify Clone project - as a part of Hacktoberfest?

[2021-10-16 14:54] samyaksand commented on #1
@fineanmol Can I contribute my Spotify Clone project which I completed - as a part of Hacktoberfest?

[2021-10-16 15:38] fineanmol commented on #1
Sure

[2021-10-16 21:52] #1 closed

[2021-10-16 21:59] #3 closed

[2021-10-16 21:59] #706 closed

[2021-10-16 21:59] #715 closed

[2021-10-16 21:59] #717 closed

[2021-10-16 21:59] #718 closed

[2021-10-16 21:59] #770 closed

[2021-10-16 21:59] #599 closed

[2021-10-16 21:59] #780 closed

[2021-10-16 21:59] #804 closed

[2021-10-16 21:59] #831 closed

[2021-10-16 21:59] #875 closed

[2021-10-16 21:59] #913 closed

[2021-10-17 10:42] ArihantJain123 commented on #2
Hello Would you assign this issue to me ?

[2021-10-17 11:15] fineanmol commented on #2
Please make your pull request

[2021-10-17 11:54] Amruta101998 commented on #928
@fineanmol could you assign me this so I can continue with the pull request for hacktoberfest.

[2021-10-18 04:31] swatisingh46 commented on #949
Please Assign this issue to me

[2021-10-18 04:35] swatisingh46 commented on #189
Can you assign this issue to me

[2021-10-18 05:43] PreetiBaskey commented on #948
hey @Harsh-1309 , i want to add math algorithms in C++. Kindly assign me this issue.
Thank You.

[2021-10-18 15:31] nikhiljhawar commented on #2
Hi Anmol,
Could you please help me how would I contribute to hacktoberfest2021 as I am new to it.

[2021-10-18 16:12] #775 closed

[2021-10-19 03:33] samyaksand commented on #949
@fineanmol Could you close this issue as hacktoberfest accepted, so that it is counted for the hacktoberfest 2021

[2021-10-19 07:08] harsh6975 commented on #949
@fineanmol I want to add NodeJs Project
Can u please assign me.

[2021-10-19 09:59] fineanmol commented on #949
Please go ahead with your request

[2021-10-19 10:00] fineanmol commented on #949
The whole project is in hacktoberfest. So you don't have to worry about it.  Just make your pull request and share the pull number

[2021-10-19 12:44] shyam-2002 commented on #949
@fineanmol I want to add a nodejs project. Could you please assign it to me.

[2021-10-19 14:35] samyaksand commented on #949
Yes, I did!
Here is the Spotify Clone PR I made - https://github.com/fineanmol/Hacktoberfest2021/pull/1011

[2021-10-19 17:34] ishita1505 commented on #730
@fineanmol I request to please assign this issue to me as this will help me in Hackoberfest 2021

[2021-10-19 17:49] HarshJ27 commented on #730
@ishita1505 this issue has been resolved already. Many have participated in it.

[2021-10-20 10:30] Raven1233 opened #1049 "I want to contribute a personal project."
@fineanmol Sir, I have a Javascript animation project that I would like to contribute. I have sent the PR #1048 please do review it.

[2021-10-20 17:49] anilectjose opened #1064 "Issue on Hacktoberfest Guideline"
Hello @fineanmol
This repo is showing like this. Can you please sort out the issue and solve it, please
![image](https://user-images.githubusercontent.com/59383190/138144406-a5d1f95f-408b-43eb-bff0-c9744848d516.png)

Really thank you for your time here,
☺️

[2021-10-21 14:15] #1049 closed

[2021-10-21 14:16] #1064 closed

[2021-10-21 18:57] #786 closed, assigned to aayushibansal2001

[2021-10-22 19:13] Aashutosh-922 opened #1128 "Updating participants.html and css!"
I want to update contibuters.html and contributors.css. Please allow me to do so and assign the work.

[2021-10-23 06:18] Sidarth-Roy opened #1140 "Drum kit simulator"
Can i add my project(HTML,CSS,JS) drum kit simulator in hacktoberfest.

[2021-10-23 08:57] #1140 closed, assigned to nobody

[2021-10-23 18:38] #1128 closed, assigned to Aashutosh-922

[2021-10-23 18:43] fineanmol opened #1169 "Improve the search button🔎 to filter Contributors names in Contribution.html file 💭"
### We Have a Long List of Contributors. Adding a search button on the top will increase productivity.

[2021-10-26 13:26] TasosY2K opened #1219 "Add front end login page"
I want to add a login page design i made with SASS and HTML
Can you assign me the issue?

[2021-10-30 08:32] Memphis1983 commented on #949
I've built a full stack todo-app as my personal project? Can I contribute?

[2021-10-30 21:39] fineanmol commented on #949
Yes Sure

[2022-08-07 09:50] ShuYiKang opened #1333 "Validate Binary Search Tree in Java"
I'd like to contribute java code to validate binary search tree.

Validation of binary search tree includes:
- Ensuring that the value of the node in the left subtree is smaller than current node
- Ensuring that the value of the node in the right subtree is greater than current node
- Ensuring left and right subtrees are also binary search trees

[2022-09-14 18:20] Karmpatel960 commented on #1219
This issue is still open or not Can i work on this?

[2022-09-15 15:11] fineanmol commented on #928
Thank you for Adding that!!

[2022-09-15 15:11] #928 closed

[2022-09-27 12:44] Tushark02 opened #1341 "i want to participate could you help me out a bit ?"
kinda confused but i did this in 2020

[2022-09-27 13:24] nitinkumar30 commented on #1341
Just read my article [here](https://dev.to/nitinkumar30/what-how-to-do-in-hacktoberfest-2022-p36). You'll understand everything.

[2022-09-28 00:28] arian0zen opened #1344 "Need to ask, if i can contribute my personal project"
Hey, was asking can i add my person project as contribution for hacktoberfest 2022,
And one more thing on which folder do i need to add my project if I'm allowed to?
Program's_Contributed_By_Contributors
Is this the folder to add contribution for new projects?

And if I'm allowed to can you please assign me this issue, I'll PR during the hactoberfest 2022
Tjank you

[2022-09-28 11:36] error707-persona commented on #1333
Hey can you assign this one to me?

[2022-09-28 17:38] AarizAnsari opened #1349 "Add a Hactober fest pattern printing algorithm"
I want to add a Hactober fest 2022 printing c/c++ or java  algorithm to which contributors can contribute every year by upgrading year and upgrading the style etc.

[2022-09-28 17:42] AarizAnsari commented on #1349
@fineanmol Please assign this issue to me..

[2022-09-29 04:01] srinjoy-26 opened #1353 "Add a fingerprint scanning animation"
A css animation.

[2022-09-29 04:02] srinjoy-26 commented on #1353
Pls assign @fineanmol

[2022-09-29 06:44] fineanmol commented on #1353
@srinjoy-26  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-09-29 06:45] fineanmol commented on #1349
@AarizAnsari  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-09-29 06:54] srinjoy-26 commented on #1353
Done

[2022-09-29 07:01] smit-sms opened #1354 "Add Python Program for Port Scanning"
Adding a CLI python script/program for scanning ports that are available on the provided URL or host IP address.

[2022-09-29 07:03] smit-sms commented on #1354
@fineanmol Please assign this to me as a part of hacktoberfest and with the hacktoberfest-accepted label as well.

[2022-09-29 07:07] fineanmol commented on #1354
@smit-sms  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-09-29 07:08] smit-sms commented on #1354
@fineanmol Done. Thanks.

[2022-09-29 08:40] fineanmol commented on #1344
Yes, You have to contribute inside the Program's contributed by Contributors folder.
@arian0zen  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-09-29 11:18] priddhesh commented on #1333
Hey can you assign me ?

[2022-09-29 11:19] priddhesh commented on #948
Hi @fineanmol please assign me this issue.

[2022-09-29 14:48] fineanmol commented on #948
@priddhesh   Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-09-29 16:04] arian0zen commented on #1344
okay okayy starred ittt.. and try to commit a PR as soon as the fest starts

[2022-09-29 16:59] fineanmol commented on #1344
Sure

[2022-09-29 17:02] fineanmol opened #1360 "Remove redundant CSS from the Project"
Remove Redundant CSS from the project , and complete your hacktoberfest

[2022-09-29 17:27] progressive-coder-ankur commented on #1169
Hi there, is this issue still open ? If it is , actually i have already worked on a search bar.
![Selection_002](https://user-images.githubusercontent.com/10112468/193101129-fae59290-06bc-4939-b062-5dbaf2953ac9.png)

[2022-09-29 17:37] progressive-coder-ankur opened #1361 "Load more button"
As the list of contributors is ever growing, the page gets quiet long. May be loading few contributors on page load e.g 36 or 48, and loading another 48 on demand with a load more button.

[2022-09-29 18:24] fineanmol commented on #1169
Hi Ankur, the search bar is already added. You can improve the search bar.
like : When you backspace the text from the search filter. It shows loading.. component. Instead of it. It should show the complete list of the users.

[2022-09-29 18:25] fineanmol commented on #1361
That's a nice optimization. We can build that too.

[2022-09-29 20:26] gkumar-pandey opened #1363 "Add Personal Project"
Hii @fineanmol
i want to add my react project to this repo so please assign to me

[2022-09-29 20:43] georgioupanayiotis commented on #1360
hello @fineanmol can i take this issue ?

[2022-09-29 20:59] fineanmol commented on #1360
Sure

[2022-09-29 21:05] fineanmol commented on #1363
@gkumar-pandey  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-09-29 21:32] gkumar-pandey commented on #1363
Done

[2022-09-29 21:50] fineanmol commented on #1361
After Implementing Load more button, A bug is introduced.
It's a static website, so after the load more button, It is not re rendering the component. It is adding the same users until your count crossed the total contribution list. And then it is showing the total users on page.

[2022-09-30 04:31] #1353 closed

[2022-09-30 04:33] fineanmol commented on #1349
Sure

[2022-09-30 05:12] Rajpreetkaur02 opened #1366 "Add a JavaScript Black-Jack game"
Hey!
I want to add a black-Jack game created using HTML, CSS, and JS under the folder Programs_contributed_by_contributers/JavaScript_programs.

Please assign it to me.

[2022-09-30 07:55] Rakteem007 commented on #949
Can I contribute to this issue @fineanmol

[2022-09-30 08:00] fineanmol commented on #949
Yes

[2022-09-30 08:23] Dishag2611 commented on #1349
Hi @fineanmol
Please assign this issue to me.

[2022-09-30 08:44] fineanmol commented on #1366
@Rajpreetkaur02  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-09-30 08:52] Rajpreetkaur02 commented on #1366
Done.

[2022-09-30 11:27] anudeeps0306 opened #1370 "Add new React Project"
I would like to create a new folder to submit react js folder, and submit a todo website .

[2022-09-30 15:35] LiQuiD-404 opened #1381 "Adding Merge Sort Algorithm using Java"
Adding code for merge sort algorithm written in Java.

I will be working on this issue under Hacktoberfest.

[2022-09-30 16:26] pragyaSingh13 opened #1386 "Add a new hangman game in Java"
Hey I want to contribute my personal hangman game for hacktober 2022. Thanks.

[2022-09-30 16:48] IayushCoderJOD commented on #1366
I love to create crazy project every weekend and I want  to add my own GYM's website  to earn "hacktober-accepted"  label for the event.

[2022-09-30 17:44] shrutityagi4102 commented on #1360
hello @fineanmol can i take this issue ?

[2022-09-30 18:42] Ayush-Baliyan-19 commented on #1219
I want to work on this , please assign me this issue✨

[2022-09-30 18:55] computerwala commented on #1386
HI @fineanmol I would like to contribute to this issue please assign this to me
thanks in advance..!!
Happy Hacking !!

[2022-09-30 19:21] fineanmol commented on #1386
@pragyaSingh13  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-09-30 19:23] fineanmol commented on #1366
Sure,

[2022-09-30 19:26] fineanmol commented on #1370
Sure, @anudeeps0306  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-09-30 20:08] IAmLittleCoder opened #1438 "Adding A New Tile Game using python"
Hey @fineanmol, I would like to contribute to this. Please assign this to me.
I have forked and have star the repo.
Thanks in Advance...!!

[2022-09-30 20:12] IAmLittleCoder commented on #1438
Can I get Hactoberfest-accepted Label

[2022-09-30 20:25] fineanmol commented on #1438
@IAmLittleCoder  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-09-30 20:59] mrsparkle-70 opened #1452 "Adding a Dragon game"
assign this issue to me @fineanmol

[2022-09-30 21:03] IAmLittleCoder commented on #1438
@fineanmol Done

[2022-09-30 22:30] tomriddle77 opened #1464 "Minimum Size Subarray Sum"
pr #1463  please take a look  and accept it so that I can make my first contibution

Given an array of positive integers nums and a positive integer target, return the minimal length of a contiguous subarray [numsl, numsl+1, ..., numsr-1, numsr] of which the sum is greater than or equal to target. If there is no such subarray, return 0 instead.

[2022-09-30 22:30] tomriddle77 commented on #1464
please assign me this issue

[2022-09-30 23:46] KanishkKhurana opened #1468 "Added TopoSort to the C++ section"
PR #1467
Added topological sort to the c++ section. please accept my PR under hacktoberfest
thanks for the experience

[2022-10-01 01:41] renzien opened #1473 "Added Drag and Drop Card Animation in Design HTML Section"
PR #1472
I added Drag and Drop Card Animation, for Contributing hacktoberfest!
Thanks for the experience

[2022-10-01 02:42] anudeeps0306 commented on #1370
can you please add label to this issue

[2022-10-01 04:01] raj-hero opened #1504 "Want to add sieve method for prime nos. in cpp. Can I go ahead"
I want to add sieve method for prime nos. in cpp. Can I go ahead? Moreover, apart from doing a pull request of my code, what else will I have to do?
Also, will I have to add my name in contributers.html list?

[2022-10-01 04:17] ChaudharyRaman commented on #1349
Hi @fineanmol . i would like to work on this issue. Can you assign it to me as well?

[2022-10-01 04:18] ChaudharyRaman commented on #1363
Hii @fineanmol . I would like to add my project to this repo . can you please assign it to me?

[2022-10-01 04:23] ChaudharyRaman commented on #949
HI @fineanmol . Can i upload my project which is unsplash clone ? If yes, please assign it to me?

[2022-10-01 04:24] khushimarothi opened #1509 "Add code in c++"
I want to add leetcode question in c++ folder.
please assign the issue and label for hacktoberfest.

[2022-10-01 04:25] Utk98 opened #1510 "Sort visualizer"
I can make make sort visualizer(who can demonstrate sorting using different sorting algorithms) and visualize  using C++. Please assign this to me so that I can contribute .

[2022-10-01 05:22] Nkashyap-anand opened #1523 "I want to add leetcode and question in c++ folder. please assign the issue and label for hacktoberfest."
i have already pushed some codes. and already starred the repo

[2022-10-01 05:49] ArnabC27 commented on #1363
Hii @fineanmol! Can you please assign this task to me so that I can I add my project to this repo?

[2022-10-01 05:52] MR-DHRUV opened #1533 "Adding a react-based text-utility"
hey @fineanmol
I want to add a react based text utility which can do the following operations on the given piece of text
- Remove extra spaces
- Parse text from html
- convert to lower / upper case
- style the best (italics / bold)
- Count characters and words

[2022-10-01 06:09] Nkashyap-anand opened #1538 "i added c++ problem solutions pls assign me HACKTOBERFEST-ACCEPTED label"

[2022-10-01 06:17] IayushCoderJOD commented on #1366
plz assign this to me.

[2022-10-01 06:43] surbhi400 opened #1550 "A to-do-List website using HTML,CSS and JS."
Hey @fineanmol, I want to work on this issue so please assign me this. I have already starred the repo and forked it.

[2022-10-01 06:46] Harshul02 commented on #1219
I want to add a login page design i made with HTML and CSS.
Can you assign me the issue?

[2022-10-01 06:48] chetansingh-2 commented on #1363
Hii @fineanmol can u please assign this task to me?

[2022-10-01 06:49] adavadkardhruv13 commented on #1349
Hey @fineanmol  can you assign this to me. I also want to work on this

[2022-10-01 06:49] vishal1patidar opened #1554 "Guess The Number! Game"
I would like to contribute to Guess The Number using HTML, CSS and JS! Game,  After win rewards also show. Please assign this issue to me @fineanmol

[2022-10-01 06:51] s-k-jha commented on #1219
I have created the best login page for this repository if you assign me the issue I am happy to create a pull request. This issue is still open or not Can I work on this?

[2022-10-01 06:54] chetansingh-2 opened #1556 "A basic Trip Form Project using php and sql to store the data."
Hi @fineanmol !! Please assign this task to me

[2022-10-01 07:02] s-k-jha commented on #1363
hello, sir can you assign this to me I want to add my latest project based on the landing page to this repository. can you provide a "hacktober-accepted" label for the event? @fineanmol

[2022-10-01 07:23] fineanmol commented on #1556
@chetansingh-2  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 07:23] fineanmol commented on #1554
@vishal1patidar  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 07:23] goodchai0 opened #1563 "Adding My Codeforces Contest Solutions in C++."
I would like to contribute  My Codeforces Contest Solutions in C++ ! Please assign this issue to me @fineanmol  Under hacktoberfest 2022

[2022-10-01 07:24] fineanmol commented on #1550
@surbhi400  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 07:24] fineanmol commented on #1366
@IayushCoderJOD  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 07:25] fineanmol commented on #1533
@MR-DHRUV  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 07:27] MR-DHRUV commented on #1533
@fineanmol Already did

[2022-10-01 07:29] stutimohta20 opened #1565 "Random color generator"
A  site which generates random color made using html and css @fineanmol please assign this to me  under hacktoberfest

[2022-10-01 07:29] stutimohta20 commented on #1565
/assign

[2022-10-01 07:34] rathi710 commented on #1363
hello @fineanmol i would like add my personal project, can you please assign it to me.

[2022-10-01 07:36] codeX1616 opened #1573 "Reading a JSON file and returning a String response using Java."
Hello @fineanmol, please assign me this issue to create a simple JSON file reader and String response extractor.

[2022-10-01 07:36] vedant-z commented on #1363
@fineanmol I also want to add my project

[2022-10-01 07:43] vishal1patidar commented on #1554
Done ✅

[2022-10-01 07:49] fineanmol opened #1577 "Convert Static website to Dynamic in React? Anyone up for challenge?"
This is a static website where we have alots of constraints. Can anyone take the challenge to convert this into a dynamic REACT JS application?

[2022-10-01 07:49] fineanmol commented on #1573
@codeX1616  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 07:50] fineanmol commented on #1565
@stutimohta20  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 07:52] KumarUtsav1025 commented on #1363
hello, @fineanmol sir, I want to add my personal project of amazon UI clone using flutter.

[2022-10-01 07:52] fineanmol commented on #1563
Sure

[2022-10-01 07:53] fineanmol commented on #1563
@goodchai0  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 07:58] fineanmol commented on #1538
@Nkashyap-anand  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 08:05] IayushCoderJOD commented on #1366
done sir

[2022-10-01 08:06] prajwalkulkarni commented on #1577
Hello @fineanmol, I'd like to take this up and update the site to be a react application.

[2022-10-01 08:10] fineanmol commented on #1452
@mrsparkle-70  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 08:12] MR-DHRUV commented on #1533
@fineanmol I wanted to ask if I have to update contributors.html with my profile card or not

[2022-10-01 08:18] prajwalkulkarni commented on #1577
I'd need some heads-up with what elements of the site are going to be dynamic. Is it just how the components are rendered or anything more to it? Should a database be used to store the contributors, and how do you plan to add the contributors, is it going to be added by the contributors themselves? Should there be a CI pipeline added to generate a build each time a PR is merged? Any additional inf

[2022-10-01 08:46] d-coder111 opened #1587 "Want to add palindrome linkedlist program in java."

[2022-10-01 08:50] VaibhavArora314 opened #1588 "Adding solution to N-Queens problem"
hey @fineanmol  , I want to add my solution to the N-Queens problem in cpp.

[2022-10-01 08:54] stoody-dev opened #1589 "a calculator using javascript"
hey i would like to create a JavaScript calculator . please assign me this issue @fineanmol

[2022-10-01 08:58] prajwalkulkarni opened #1591 "Missing alt attribute in image tag & code refactoring"
The images of contributors rendered are missing `alt` attribute, which hinders the a11y. An `alt` attribute with the value corresponding to the user's github username can be added.
 The `contributors.html` has grown very much mainly because of the `contributors` array being declared in the same script tag. This data collection can be modularised outside of the script, which can help in code mainte

[2022-10-01 09:01] stoody-dev commented on #949
can you assign this issue to me i would like to build a tribute page using html and css3

[2022-10-01 09:01] YBansal95 opened #1592 "Binary Search in a sorted cyclic array"
I would like to contribute the code for binary search in a sorted cyclic array. Please assign this issue to me @fineanmol under hacktoberfest 2022

[2022-10-01 09:11] shivamsdk opened #1594 "Face recognition Using Python"
for Hacktoberfest

[2022-10-01 09:19] goodchai0 commented on #1563
Done. I have Star the repo

[2022-10-01 09:29] ronakpanchalk9 commented on #1587
Hey @fineanmol I'd like to add this program

[2022-10-01 09:29] Harish2930 commented on #1363
Hi @fineanmol sir, I want to add my personal project of Facebook Login Page Clone using TailwindCSS
Please assign me the task

[2022-10-01 09:29] bishalshaw-164 opened #1599 "Student marks Calculator using HTML CSS and JavaScript"

[2022-10-01 09:38] fineanmol commented on #1533
Issue has been resolved. You can create a new PR now.

[2022-10-01 09:40] KumarUtsav1025 commented on #1363
@fineanmol Please review my pull request

[2022-10-01 09:43] fineanmol commented on #1592
Sure

[2022-10-01 09:43] fineanmol commented on #1592
@YBansal95  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 09:44] #949 closed

[2022-10-01 09:48] MayuriKolhe-2003 opened #1611 "I added programs to c++ section please accept it."
Please accept my programs

[2022-10-01 09:48] fineanmol commented on #1588
Sure

[2022-10-01 09:48] fineanmol commented on #1588
@VaibhavArora314  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 09:49] VaibhavArora314 commented on #1588
Already done

[2022-10-01 09:51] Rajpreetkaur02 commented on #1366
I have already created a PR for the same, kindly see to it.
#1384

[2022-10-01 09:59] fineanmol commented on #1577
Mainly a way to make Contribution.html file content dynamic, The main problem we are trying to solve is that users list is getting increased after every PR merged. So now contributors have to scroll too much to enter their details.
If we can make a way to ease that process.
Contributors can add their information in some Json or text file from which we can get the list of users and render it on our

[2022-10-01 10:01] fineanmol commented on #1366
There are conflicts in your PR

[2022-10-01 10:03] fineanmol commented on #1587
Sure

[2022-10-01 10:03] Rajpreetkaur02 commented on #1366
yes, I am trying to solve it.

[2022-10-01 10:03] fineanmol commented on #1587
@ronakpanchalk9  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 10:07] Rajpreetkaur02 commented on #1366
I have resolved the conflict. Please check now #1384

[2022-10-01 10:10] PravarAnu opened #1618 "Some popular recursion problems"
I would like to contribute some popular recursion problems solution in C++ ! Please assign this issue to me @fineanmol under hacktoberfest 2022 and help me in starting my first contribution.

[2022-10-01 10:16] stoody-dev commented on #1363
hi @fineanmol I want to add my personal project of javascript digital clock . Please assign me this task

[2022-10-01 10:16] prajwalkulkarni commented on #1577
Okay, the main issue to address here is the growing contributor's list which is increasing along with the incessant growth in the codebase of `contribution.html`, to solve this, the list should be placed out of the script and the main script should be modularised, I've raised an issue to address this #1591 (kindly assign it to me so that I can add PR reflecting those changes). Once this is done, I

[2022-10-01 10:32] #1438 closed

[2022-10-01 10:37] Dipra-Bardhan opened #1631 "The calculator is not opening please look in this matter"
The calculator program is not opening. Please look in this.

[2022-10-01 10:40] aaryahjolia opened #1632 "This repo is excluded"

[2022-10-01 11:02] #1632 closed

[2022-10-01 11:03] fineanmol opened #1641 "WorkFlow Fix to Automerge the PR"

[2022-10-01 11:13] codeX1616 commented on #1573
Hi @fineanmol I am unable to push my changes to the repository. This is the message I get when trying to push my changes - Permission to fineanmol/Hacktoberfest2022.git denied to codeX1616.

[2022-10-01 11:13] kusumita29 opened #1644 "Sudoku Solver"
Want to add a basic python code that solves a sudoku given by the user and prints it in a grid format.
Please assign me this issue under Hacktoberfest '22.

[2022-10-01 11:18] #1588 closed

[2022-10-01 11:25] IAmLittleCoder opened #1651 "Please add Label To older work"
Hey @fineanmol
Please Add Label to #1626

[2022-10-01 11:58] fineanmol commented on #1577
Go Ahead with the changes

[2022-10-01 11:58] #1363 closed

[2022-10-01 11:59] fineanmol commented on #1618
@PravarAnu  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 12:03] chimoski opened #1672 "section not responsive"
the section directly below the navbar does not look good on mobile devices, permission to fix that.

[2022-10-01 12:10] surbhi400 commented on #1550
Done.

[2022-10-01 12:13] sumitkr2000 opened #1676 "Added rabin carp algorithm"
I have added the rabin carp algorithm. Kindly review it and merge it . Thank you!

[2022-10-01 12:24] codeX1616 commented on #1573
Its resolved now, had been using the wrong ssh key. Have raised the PR now. Please review and merge.

[2022-10-01 12:30] #1573 closed

[2022-10-01 12:31] UkaniVedant opened #1681 "Python Program To Display Calendar"
Want to add a basic python code that display calendar for the month and year given by the user.
Please assign this issue to me @fineanmol under hacktoberfest 2022 and help me in starting my first contribution. I have already Starred ⭐ the repo.

[2022-10-01 12:49] #1381 closed

[2022-10-01 13:02] sshiwangi opened #1687 "TV Shows Search WebApp"
I would like to add a movie search website where user can search for any movie.
@fineanmol please assign me this issue under Hacktoberfest 2022.
I have already starred ⭐️ the repo.

[2022-10-01 13:05] shubhrastogi07 opened #1688 "Want to add a motivational quotes chrome Extension"
Hey @fineanmol,
Want to add a chrome extension which shows a new motivational quote every time it is clicked using a public API.
Please assign this issue to me under hacktoberfest 2022 and help me in starting my first contribution. I have already starred the repo and forked it.

[2022-10-01 13:22] Akankshaaaa29 commented on #1681
I want to work on this issue, please assign me @fineanmol under hacktoberfest2022. I've already forked and starred
 this repo.

[2022-10-01 13:24] Anway-Agte commented on #1594
Can I work on this issue, I am proficient in ML

[2022-10-01 13:25] satvikDesktop opened #1695 "Rock Paper Scissors"
Want to add a rock paper scissors game website @fineanmol

[2022-10-01 13:36] fineanmol commented on #1695
Sure

[2022-10-01 13:36] fineanmol commented on #1695
@satvikDesktop  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-01 13:42] RoopakMallik commented on #1681
@fineanmol  Please assign me this issue to resolve or provide me another issue to work on based on Python.

[2022-10-01 13:53] AnsahMohammad opened #1701 "Vigenere Code solver using python"
I would like to add an algorithm for **Vigenere code** encryption-decryption using Python. Assign to me under HacktoberFest2022

[2022-10-01 14:00] AnsahMohammad opened #1704 "Library Management"
It's a library management project built using objects in Python. This class provides the best efficient use of library management operations and manipulations.

Please assign this to me for HacktoberFest2022.

[2022-10-01 14:01] TasosY2K commented on #1219
i got it guys, just make a new pr

[2022-10-01 14:09] Daksh-964 commented on #1589
I want to work on this. Please assign this issue to me @Daksh-964 under hacktoberfest 2022 and help me in starting my first contribution.

[2022-10-01 14:15] Nkashyap-anand commented on #1538
i have already done so

[2022-10-01 14:22] rohansrivastava5491 opened #1711 "Number guessing game using python"
This project is a fun game that generates a random number in a certain specified range and the user must guess the number after receiving hints. Every time a user’s guess is wrong they are prompted with more hints to make it easier — at the cost of reducing the score.

[2022-10-01 14:23] rohansrivastava5491 commented on #1711
I want to work on this. Please assign this issue to me @rohansrivastava5491 under hacktoberfest 2022 so that I can start contributing.

[2022-10-01 14:32] aswin2108 commented on #1641
@fineanmol So we need to merge the PR if it follows the required status check, right??? I would like to take on this issue!

[2022-10-01 14:45] Kedar-27 opened #1716 "Excluded from Hacktoberfest"

[2022-10-01 14:48] SahilSatyam commented on #1711
I have worked on similar project, please assign this to me.

[2022-10-01 15:10] disuja7 commented on #1711
I want to work on it. Please provide the full details for the project.

[2022-10-01 15:20] fineanmol commented on #1641
Yes, Please go ahead

[2022-10-01 15:21] #1219 closed

[2022-10-01 15:21] #1716 closed

[2022-10-01 15:40] b5i opened #1730 "All colors image generator (python)"
A program that generate a square image with all the colors of the hexadecimal system.
Accepted ?

[2022-10-01 15:58] rohansrivastava5491 opened #1738 "Alarm Clock program using python"
It is a Command Line Interface (CLI) Python application. It is more than just setting off an alarm, this program allows certain YouTube links to be added to a text file. When a user sets an alarm, the code picks a random video and starts playing it.

Can you assign this issue to me?

[2022-10-01 16:06] vishnup2002 opened #1740 "Adding my Leetcode solutions"
I would like to contribute solutions of the Leetcode problems that I have solved in C++.  Please assign this issue to me @fineanmol under hacktoberfest 2022.

[2022-10-01 16:11] AlphaVS-76 opened #1742 "Fixing Documentation irregularity."
## Problems Discovered
- At some parts, the language is a bit unethical/dialectical.
- Few of the links can be pruned to make it a more reader-friendly.

## Solutions Suggested
- The Hyperlinks created may be cut down to at most 1 word.
- Formalize the language of Documentation as deemed fit.

### Extra Notes
I would be really pleased to be assigned this issue!

[2022-10-01 16:28] ImArnoldDCODES commented on #1577
Hello @fineanmol I will love to take part in this and update this to a react web application

[2022-10-01 16:36] SarthakSharma660 opened #1748 "C# Folder"
Can I Add a C# Folder and Linked List code to it?

[2022-10-01 16:39] ImArnoldDCODES opened #1749 "Add Animations"
I would like to add an animation that works when a user loads the web or reloads the web
@fineanmol please assign me this issue under Hacktoberfest 2022.
I have already starred ⭐️ the repo.

Thank You.

[2022-10-01 16:40] 17Moons commented on #1370
I would also like to contribute in the project

[2022-10-01 16:43] vishwasgowdahv commented on #1611
Can you assign to me ?, I can do this.

[2022-10-01 16:47] fineanmol commented on #1370
Sure

[2022-10-01 16:48] fineanmol commented on #1749
Please, go ahead with this

[2022-10-01 16:49] vishwasgowdahv commented on #1740
I had done 200+ questions done on competitive coding platforms, I could do this work very efficiently, so please assign this work to me.

[2022-10-01 16:53] ImArnoldDCODES commented on #1591
Hey man should we work on this together?

[2022-10-01 16:54] Aditya-lab-andro opened #1759 "Unable to push"
remote: Permission to fineanmol/Hacktoberfest2022.git denied to Aditya-lab-andro.
fatal: unable to access 'https://github.com/fineanmol/Hacktoberfest2022.git/': The requested URL returned error: 403

[2022-10-01 17:07] mprsAbhinavShri commented on #1695
respected sir @fineanmol please assign this project to me

[2022-10-01 17:14] bhumithakur commented on #1611
please assigned it to me!!

[2022-10-01 17:15] bhumithakur commented on #1589
hey please assign it to me

[2022-10-01 17:21] Sayrikey1 opened #1771 "Machine translation website"
I want to add a machine translation website to the repository @fineanmol

[2022-10-01 17:27] #1533 closed

[2022-10-01 17:30] ImArnoldDCODES commented on #1749
ok but it will be on the new repo

[2022-10-01 17:45] vishwasgowdahv commented on #1592
Assign this to me I’ll do it

[2022-10-01 18:00] HellspawnXerxes opened #1782 "Moore's Voting Algorithm to find the majority element in an array in C++."
**Please merge this issue as Hacktoberfest 2022 contribution. I really need that t-shirt. I am basically living for it. Pls tag this as Hacktoberfest issue. I will be really grateful to you.**

I commented every step in order to make code more readable and understandable

[code]

[2022-10-01 18:07] shubhrastogi07 commented on #1688
@fineanmol I have made a pull request for the same kindly review it and merge it.

[2022-10-01 18:08] Shreya241 opened #1786 "Rock-paper-scissors and lizards game using Python"
I will write code for a 4 player game. Rock-paper and scissors are very common and can be played between between 3, but this game can be played between 4.
Please assign this issue to me @fineanmol.

[2022-10-01 18:35] ankur0904 commented on #1711
I want to work on it. Please assigned this to me.

[2022-10-01 18:43] lhpellizzon opened #1807 "JS TypeWritter script good for Portfolio websites"
I made a pull request about a JS Script that allows  you to add text that you want to show to user on your website, specially Portfolio websites, that will be shown in a typed style and then when it reaches the end of the text, it starts deleting and go to the next text if you added into the array.
The instructions is inside the JS File added
Please assign this issue to me @fineanmol.

[2022-10-01 18:53] SKSilentKiller commented on #1695
@fineanmol I want to contribute to this project

[2022-10-01 18:54] prajwalkulkarni commented on #1577
Hello @fineanmol, I've created a PR #1806 that separates the contributor's list from the main script tag. So until the workflow is ready, people can add their details in `contributors/data.js` and when the workflow is ready, it shall automatically add to it and build the site on every merged PR. Could you kindly review and merge the PR so that I can start working on the automation workflow?

[2022-10-01 19:07] Anushree1291 commented on #1618
I would like to contribute some popular recursion problems solution as well as Backtracking. I can code in Java as well as in Kotlin. Please assign this issue to me @fineanmol under hacktoberfest 2022.

[2022-10-01 19:21] ImArnoldDCODES commented on #1749
Hello @fineanmol/Hacktoberfest2022
***@***.***> I am
getting an error while pushing

"Permission to fineanmol/Hacktoberfest2022.git denied to ImArnoldDCODES"

On Sat, Oct 1, 2022 at 9:48 AM ANMOL AGARWAL ***@***.***>
wrote:

[2022-10-01 20:03] Hackingwithshaurya commented on #1786
i will do it! @fineanmol

[2022-10-01 20:11] soustab10 opened #1827 "Want to add a Go URL Shortener"
Hello @fineanmol , I want to add a **Golang based URL-Shortener Project**.
Please assign me to this issue and add the' hacktoberfest' label.
I have already starred the website ⭐
Thank you.

[2022-10-01 20:27] swastik-bose007 opened #1828 "Want to make navbar more attractive with animation and font styling"

[2022-10-01 20:29] swastik-bose007 opened #1829 "wanto to style the footer"

[2022-10-01 20:34] Laxmankohar commented on #1695
Hey @fineanmol, please assign me this issue under Hacktoberfest 2022. I want to contribute on this.

[2022-10-01 20:59] JohnnyQuintero16 commented on #1563
Hi, send solutions

[2022-10-01 21:48] akshaykhoje opened #1834 "Calculate IP address, subnet information (Network, broadcast, first IP, last IP) for a given IP address in CIDR notation"
I have written a python script for getting the subnet information for a given IP address.
The user needs to write the IP address in CIDR notation.
I display the output to the terminal in a beautifully formatted table.

Please assign me this feature issue that will add to learners'  knowledge and understanding.

Thank you!

[2022-10-01 22:12] #1641 closed

[2022-10-01 22:32] #1591 closed

[2022-10-01 22:53] #1577 closed

[2022-10-02 01:27] Tara-Choudhary opened #1845 "Animated-Profile-Card"
I want to add Animated-Profile-Card using CSS.
@fineanmol  Please assign me this issue under hacktoberfest 2022

[2022-10-02 02:39] Dulyaaa commented on #1829
can you assign this to me @swastik-bose007

[2022-10-02 02:52] ibraheemmawwal opened #1851 "a tribonnaci generator"
I will like to add a tribonacci generator to the code base please assign under hackotober-fest

[2022-10-02 03:17] SriramBharadwaj1 commented on #1349
Hi, could you please assign this to me. I can code in Java

[2022-10-02 03:55] mprsAbhinavShri commented on #1695
respected sir @fineanmol please tell me the language i can code it in

[2022-10-02 04:32] saugat-rimal opened #1866 "Want to add a bookmark tool chrome Extension"
Hey @fineanmol,
Want to add a chrome extension that helps to keep a quick bookmark of the websites or tabs by storing them on the local storage.
Please assign this issue to me under hacktoberfest 2022 and help me in starting my first contribution. I have already starred the repo and forked it.

[2022-10-02 04:40] palaksv commented on #1829
Please assign this issue to me.

[2022-10-02 05:12] Rohans-7 commented on #1464
Please assign this issue to me. I will add the solution in two approches.

[2022-10-02 05:33] stoody-dev opened #1877 "Creating a Tribute page Using HTML and CSS5"
hey @fineanmol  please assign this issue to me under hacktoberfest 2022  tag so that i can start with my hacktober fest 1st project . i have already starred this repo

[2022-10-02 05:36] Sandyy07 commented on #1740
I have solutions to Amazon OA . Please Assign me this issue

[2022-10-02 05:36] pr0x7 commented on #1688
@fineanmol i'd like to take this ,plz assign me 🙏🏻

[2022-10-02 05:37] Sandyy07 commented on #1829
Please assign me this issue

[2022-10-02 06:04] Manish4Kumar opened #1884 "Missing-num-in-cpp.me"
C++ program to find out the missing number in an array

#include <iostream>
using namespace std;

int getMissingNumber(int givenArray[], int length)
{

    int sumOfAllNumbers = (length * (length + 1)) / 2;
    int sumOfUserNumbers = 0;

    for (int i = 0; i < length - 1; i++)
    {
        sumOfUserNumbers += givenArray[i];
    }

    int missingNumber = sumOfAllNumbers - sumOfUserNumbers;
    r

[2022-10-02 06:05] Manish4Kumar commented on #1884
pls merge my pr

[2022-10-02 06:05] Manish4Kumar commented on #1884
pls

[2022-10-02 06:05] #1884 closed

[2022-10-02 06:30] 22tanyabansal commented on #1877
Hey , I want to contribute in this issue. Please assign this task to me.

[2022-10-02 06:40] Jatayu-u commented on #1828
@fineanmol I would like to take this issue for hacktoberfest. Please, assign this issue to me.

[2022-10-02 06:55] Jatayu-u opened #1896 "Pig Game using Javascript"
Hello, @fineanmol I would like to add a Pig game project, which is a fun dice game using HTML, CSS, and javascript.
 please assign me this issue under Hacktoberfest 2022.
I have already starred ⭐️ the repo.

[2022-10-02 07:18] KedarKK1 opened #1900 "In frontend projects, to-do-list project, Add an element on pressing Enter"
In frontend projects, to-do-list project, Add an element on pressing Enter  along with clicking on Add button for ease of user

[2022-10-02 07:30] #1695 closed

[2022-10-02 07:53] headshigh opened #1903 "Number Guesser Game using javascript Html and CSS"

[2022-10-02 07:56] Codebraker7 commented on #1900
Hey! I'd like to contribute to this project

[2022-10-02 07:57] Codebraker7 commented on #1829
I'd like to work on this issue! Please assign this to me

[2022-10-02 07:58] gkumar-pandey opened #1904 "Birthday palindrome checker app"
Hii @fineanmol

I would like to add one of my projects Birthday palindrome checker web app . please assign to me

[2022-10-02 08:17] alphaCoderR commented on #1845
Can i work on it??

[2022-10-02 08:18] Roaster05 opened #1910 "Creating a Multi-Functionality Calculator"
My calculator will contain all major mathematical operations ranging from normal **arithmetic to scientific calculations** the calculator will also save the **previously calculated** operation results and also has the feature to **change the UX/UI** according to light or dark mode.

[2022-10-02 08:43] bhadurajbala22 commented on #1903
I wanted to build this Number Guesser Game using JavaScript Html and CSS. Please assign me this issue.

[2022-10-02 09:02] iamrishabhjoshi commented on #1904
Hi @fineanmol. Please assign this issue to me

[2022-10-02 09:18] piyushkandari opened #1920 "I want to add prism algo in cpp"

[2022-10-02 09:32] headshigh commented on #1903
No

[2022-10-02 09:47] Dhanshriborse commented on #1550
Hey ! i want to work on this please assign it to me

[2022-10-02 10:14] Shreya241 commented on #1786
@fineanmol can u assign this under hacktoberfest please

[2022-10-02 10:15] ppap1771 commented on #1554
hey i would like to work on this. Can you assign me this issue please.

[2022-10-02 10:18] amanmodiii opened #1928 "A login card on web"
Hey @fineanmol ,
I would like to create a single-page demo signup page.
Please assign me the task .
Regards.

[2022-10-02 10:33] debxrshi opened #1931 "I want to add a ping sweeper script in Python"
Please allow for HACKTOBERFEST 22

[2022-10-02 10:38] Shreya241 opened #1933 "Monkey-Jumping-game"
I want to create a monkey jumping game using Html, CSS, and js. @fineanmol please assign this issue to me under haktoberfest2022.

[2022-10-02 10:58] amanmodiii commented on #1928
I have already starred the repository.

[2022-10-02 11:05] #1554 closed

[2022-10-02 11:12] ibraheemmawwal commented on #1851
@fineanmol

[2022-10-02 11:20] sidhrth04 opened #1941 "js based timer/stopwatch"
@fineanmol i would like to add a js based timer/stopwatch using animated profile cards
please assign me the issue under hacktober fest 2022
it will be a good help

[2022-10-02 11:20] sickodev opened #1942 "Typing Game using Javascript"
I wanted to add a typing game using Javascript.

[2022-10-02 11:27] sidhrth04 opened #1943 "colour grading"
@fineanmol , I would like to change the colour grading of the website and alignment of different elements
please assign me the issue under hacktober fest 2022
it will be a great help

[2022-10-02 11:28] #1941 closed

[2022-10-02 11:37] shrutiso05 commented on #1738
Hi @fineanmol can you assign me for this issue . I know how to solve. To solving this issue we import some packages like datetime, time, sounds and  tkinter package too so I request you to please assign me this project .

[2022-10-02 11:38] UkaniVedant opened #1946 "Dice Roll Simulator"
Hello, @fineanmol I would like to add a Dice Roll Simulator using Python.
please assign me this issue under Hacktoberfest 2022.
I have already starred ⭐️ the repo.

[2022-10-02 12:16] arinjain373 opened #1955 "Hang Man using Python"
I would like to add hang man game in your repository, under Hacktoberfest2022. Can you please assign it to me. @fineanmol

[2022-10-02 12:19] NageshMandal opened #1956 "add favicon"

[2022-10-02 12:27] Vrajjangid5 commented on #1829
please assign this task to me

[2022-10-02 12:31] Dimple-Choudhary opened #1960 "Memory Game"
I want to add Memory Game using JavaScript.
@fineanmol Please assign me this issue under hacktoberfest 2022

[2022-10-02 12:35] kalyanjyoti11 commented on #1956
hi, would love to work on this issue. please, assign me this.

[2022-10-02 12:52] HellspawnXerxes opened #1967 "2 Player Tic Tac Toe game in Python"
Can I do this project? I will be reall grateful to you if you tag this as my Hacktberfest 2022 contribution

[2022-10-02 12:52] code08-ind opened #1968 "Forming A Color With The Help Of Red, Green And Blue"
Forming A Color With The Help Of Red, Green And Blue By Scrolling The Performance Bar

[2022-10-02 12:52] code08-ind opened #1969 "Forming A Color With The Help Of Red, Green And Blue"
A web application Forming A Color With The Help Of Red, Green And Blue By Scrolling The Performance Bar And Doing It In The Form A Web Application.

[2022-10-02 12:56] HellspawnXerxes opened #1970 "Number Guessing game in python"
Can you assign me this task? I will be really grateful if you tag this as my Hacktoberfest 2022 contribution.

[2022-10-02 12:57] HellspawnXerxes opened #1971 "MP3 Music Player in Python"
Can you assign me this task? I will be really grateful to you if you tag this as my Hacktoberfest 2022 contribution.

[2022-10-02 13:00] #1968 closed

[2022-10-02 13:00] code08-ind commented on #1968
Closed

[2022-10-02 13:13] tusharrao198 opened #1976 "important dsa questions asked in faang/maang!"
Would like to add some important dsa questions asked in faang.
Please mark this as hacktoberfest accepted issue.

[2022-10-02 13:31] bhuvan-tech commented on #1969
Hi @code08-ind , I can help you with that, can you please assign me with this issue under Hacktoberfest 2022.

[2022-10-02 13:33] ItzLevvie commented on #1632
This repository has been **_permanently_** excluded from Hacktoberfest 2022. This means that any pull requests (PRs) made to this repository **_will_** not be counted towards your contributions for Hacktoberfest 2022.

Please contribute to **_valuable_** repositories instead of sending pull requests (PRs) to repositories that are there to defeat the whole purpose of Hacktoberfest 2022.

Any repeat

[2022-10-02 13:33] ItzLevvie commented on #1716
This repository has been **_permanently_** excluded from Hacktoberfest 2022. This means that any pull requests (PRs) made to this repository **_will_** not be counted towards your contributions for Hacktoberfest 2022.

Please contribute to **_valuable_** repositories instead of sending pull requests (PRs) to repositories that are there to defeat the whole purpose of Hacktoberfest 2022.

Any repeat

[2022-10-02 13:38] abhishekkashyap96 commented on #1928
@amanmodiii are you working on this ? If not,  @fineanmol , Please assign me.

[2022-10-02 14:03] abhishekkashyap96 commented on #1550
@surbhi400 @Dhanshriborse  would you like to collab? I want to contribute and would like to work on this task. @fineanmol please assign it to me.

[2022-10-02 14:18] #1920 closed

[2022-10-02 14:20] Rashmisingh-18 opened #1983 "Color Guessing Game"
Hey @fineanmol, please assign this issue to me. I make it using HTML, CSS and JS.

[2022-10-02 14:21] kushagrarastogi7007 commented on #1829
pls assign this to  me @fineanmol

[2022-10-02 14:24] kushagrarastogi7007 commented on #1946
I would like to add a dice  roll simulator game (like) in this , can you pls assign this project to me @fineanmol

[2022-10-02 14:32] tejasjaiswal07 commented on #1976
Sounds interesting to me @tusharrao198, please assign me to this issue.
Thank you!

[2022-10-02 14:34] tejasjaiswal07 commented on #1976
@tusharrao198 Would it be ok to include love babber DSA questions with their solutions?

[2022-10-02 14:39] tejasjaiswal07 commented on #1749
Hey @ImArnoldDCODES, can I work on this issue?
please assign me to this issue.
thank you!

[2022-10-02 15:55] amanmodiii commented on #1928
I have submitted the code files and created a pull request

[2022-10-02 16:01] amanmodiii opened #1997 "create a dice-based race game on browser"
I have a JS project (front-end) that implements concepts to create a roll race game.
Link : https://amanmodiii.github.io/Roll-Race/

Hey @fineanmol ,
Please assign this task to me under hacktober-accepted.
Thanks.

[2022-10-02 16:38] Ishnoor-kaur opened #2000 "a Try To Laugh Challenge page"
I have made a Try To Laugh Challenge website using HTML, CSS and JavaScript. It displays a random dad joke whenever the button is clicked. I would love to contribute it here.

[2022-10-02 16:44] AbhiIkhar commented on #1976
I am newb to open source  , @tusharrao198  Can u please  assign me  this issue.

[2022-10-02 16:46] code08-ind commented on #1969
I have started this issue and the maintainer will assign it too me. You are requested to start with new issue.

[2022-10-02 16:58] Aditi192002 commented on #1955
Please assign it to me , I would like to add it to your repository

[2022-10-02 17:01] Aditi192002 commented on #1967
I will be really grateful to add tic tac toe to your repository . Please assign it to me

[2022-10-02 17:03] Aditi192002 commented on #1971
Please assign this to me

[2022-10-02 17:03] Aditi192002 commented on #1928
Please assign it to me

[2022-10-02 17:06] Aditi192002 commented on #1896
Please assign this to me . I have already starred it.

[2022-10-02 17:07] Aditi192002 commented on #1851
I have already starred it . Please assign it to me

[2022-10-02 17:08] Aditi192002 commented on #1956
I would be really grateful if you assign this project to me. I have already starred it

[2022-10-02 17:19] Himanshi2511 commented on #1976
i am keenly intrested in this @tusharrao198 ,please assign me to this issue

[2022-10-02 17:25] #1976 closed

[2022-10-02 17:26] Himanshi2511 commented on #1594
Hey @shivamsdk can you assign this issue to me .

[2022-10-02 17:28] SarveshN23 opened #2012 "Meme Generator"
I have made a website which allows you to view different types of memes using html, javascript and css.
I would like to contribute here with that.

[2022-10-02 17:35] SKSilentKiller commented on #1896
Hey Can you please assign this task to me @fineanmol

[2022-10-02 17:49] #1354 closed

[2022-10-02 17:52] SarveshN23 opened #2016 "Snake_game (python)"
I would like to contribute by adding a snake game.

[2022-10-02 18:02] fineanmol commented on #1955
@Aditi192002 @arinjain373  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-02 18:02] Abhishek-5854 opened #2019 "Added Dijkastra solution"

[2022-10-02 18:04] fineanmol commented on #1997
@amanmodiii  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-02 18:06] fineanmol commented on #1829
@kushagrarastogi7007 @Vrajjangid5  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-02 18:06] fineanmol commented on #1983
@Rashmisingh-18  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-02 18:08] Jatayu-u commented on #1828
#2020

[2022-10-02 18:09] fineanmol commented on #1738
@rohansrivastava5491 @shrutiso05  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-02 18:09] fineanmol commented on #1943
@sidhrth04  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-02 18:09] fineanmol commented on #1933
@Shreya241  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-02 18:19] Danish-Belal commented on #2019
@fineanmol  assign this to me

[2022-10-02 18:29] Codebraker7 commented on #1956
Hey! I'd like to take up this issue!

[2022-10-02 18:36] fineanmol commented on #2019
@Danish-Belal @Abhishek-5854  Please Star ⭐️ the repo to earn "**_hacktober-accepted_**" label for the event.

[2022-10-02 18:38] arinjain373 commented on #1955
@fineanmol Done

[2022-10-02 18:40] ibraheemmawwal commented on #1851
can you please add the hacktoberfest 2022 label

[2022-10-02 18:46] sanketdisale871 commented on #1504
I want to add the sieve method for finding prime numbers and calculating the prime factors of a number.  Can you assign it? @fineanmol

[2022-10-02 18:49] debjitpurohit opened #2030 "Calculator using python"

[2022-10-02 18:49] debjitpurohit commented on #2030
i am a hacktoberfest 2022 participants. please assing me

[2022-10-02 18:58] Dharansh-Neema commented on #2030
Please assign this issue to me

[2022-10-02 19:00] Gokul-Ks opened #2034 "Tic Tac Toe"
I would like to code a tic tac toe game in Javascript for Hacktoberfest

[2022-10-02 19:05] raj-hero commented on #1504
I've already committed the code

[2022-10-02 19:06] debjitpurohit commented on #2030
I created this issue assing me this please

[2022-10-02 19:14] vidhanshu commented on #2012
@SarveshN23 Please assign this issue to me with hacktoberfest-accepted label

[2022-10-02 19:31] vandana3869 opened #2042 "Adding a new project"
I want to add my project - Simon Game, Its beginner a friendly project
that would help in improving JavaScript skills.

[2022-10-02 19:33] vandana3869 commented on #2042
@fineanmol  could you please assign this issue

[2022-10-02 19:43] stuck-in-a-conundrum opened #2043 "Resume builder"
Adding a new static project that builds a resume for the user

@fineanmol could you please mark this as _hacktoberfest-accepted_

[2022-10-02 19:48] Lorenzobattistela opened #2044 "Python K-Nearest-Neighbors algorithm"
Creation of k-nearest-neighbors algo in python in an educative manner, implemented from scratch so the user can study from it and understand what is going on under the hood. K-nearest-neighbors is used in Machine Learning and Artificial Intelligence models.

https://en.wikipedia.org/wiki/K-nearest_neighbors_algorithm

[2022-10-02 19:48] Lorenzobattistela commented on #2044
If you like this idea, I am more than happy to work on it, so you can assign it to me. Thanks

[2022-10-03 04:54] omgoyal22 commented on #1956
hey i would like to take up this issue please assign it to me

[2022-10-03 05:15] pratham0809 commented on #1687
I would like to work on this, can you please assign me this issue? @fineanmol

[2022-10-03 05:29] Rashmisingh-18 commented on #1983
Done, made a pull request #2075

[2022-10-03 05:48] Dulyaaa commented on #1829
Done in #2076. Please check @fineanmol and let me know the modifications.

[2022-10-03 05:55] Shrangika commented on #2034
Can you assign me this game in java for Hacktoberfest

[2022-10-03 07:09] HemanthThota39 opened #2087 "Pong game from the scratch"
I implemented a 2 player game of pong from scratch

Hey @fineanmol could you please assign me this task under hacktober-accepted label. I have Starred the repo!

[2022-10-03 07:11] HemanthThota39 commented on #2087
I want to contribute this for hacktober-fest 2022

[2022-10-03 07:13] mansi-singla-31215 opened #2088 "Change color and shape"
Hello, @fineanmol I would like to add 'Change color and shape' project using html, css and js.
Please assign me this issue under Hacktoberfest 2022.
I have already starred ⭐️ the repo.

[2022-10-03 07:57] deveshparmar commented on #1701
Hello,  I would like to contribute towards this issue

[2022-10-03 08:26] AaryanSingh0017 commented on #2034
Can you assign me as well please !

[2022-10-03 08:27] deveshparmar opened #2098 "PlayFair cipher encryption and decryption - Python"
hey, @fineanmol  i would like to contribute towards this issue please assign it to me.

[2022-10-03 08:35] Aditi192002 commented on #1955
@fineanmol starred

[2022-10-03 08:43] CarefoDragneel commented on #1592
Assign this issue to me and I will send PR immediately as I have already written the code for this program

[2022-10-03 09:06] CarefoDragneel commented on #1740
I have done 280+ problems on leetcode and I have a collection of solutions for many standard, frequently asked problems. Please assign this issue to me.

[2022-10-03 10:12] shivam779823 commented on #2034
Hi , Could you please assign me this task I will code in python

[2022-10-03 10:15] shivam779823 commented on #1970
Could  you please assgin me this task. this would be my first contribution to hacktoberfest

[2022-10-03 10:17] AnsahMohammad commented on #1701
@deveshparmar I have already made the project ready, maybe you could do other projects .
Thanks.

[2022-10-03 11:51] shrutiso05 commented on #1738
I just request new pull request of updated alarm_clock program. I request you to please see My PR

[2022-10-03 12:10] inevitable-ank commented on #1942
Hey, @fineanmol I would like to contribute to this issue
please assign me this issue under Hacktoberfest 2022.
I have already starred the repo.

[2022-10-03 12:17] inevitable-ank commented on #1599
Hey, i want to contribute to this issue. requesting you to assign this issue to me.

[2022-10-03 12:54] nilesh05apr commented on #1946
Hello @fineanmol and fellow developers I have added a Unicode Dice Roll Simulator using Tkinter and have created a pull request, please review the changes.

[2022-10-03 13:14] Bruno-Vasconcellos-Betella opened #2141 "New functions add"
new functions add on #2140

[2022-10-03 13:41] deveshparmar commented on #2098
I want to contribute under Hacktoberfest 2022

[2022-10-03 17:28] #1738 closed

[2022-10-03 17:46] Rabeet8 opened #2176 "Quiz Game using HTML and JAVASCRIPT"
Hello, @fineanmol I would like to add a 'Quiz Game' using HTML and JAVASCRIPT
Kindly assign me this issue under Hacktoberfest 2022.
I have already starred ⭐️ the repo.

[2022-10-03 18:06] AvidCoder101 opened #2182 "Repo is excluded"
![image](https://user-images.githubusercontent.com/70807684/193647644-31e7d53b-cd95-46af-ab1e-fdbe03beebc1.png)

[2022-10-03 18:33] nilesh05apr opened #2189 "REST Middleware in Golang"
@fineanmol I want to add rest middleware in golang please mark this is as hacktoberfest-accepted and assign me this task.
Happy Coding :)

[2022-10-03 18:35] nilesh05apr commented on #2182
I am facing same the problem for my PR add: Dice Roll Simulator #2137. Maintainers please look into this issue.

[2022-10-03 18:46] #2030 closed

[2022-10-03 18:48] iamsid0908 opened #2194 "Portfolio Website in html,css and js"
hey, @fineanmol I want to build Portfolio Websites using HTML CSS javascript. pls assign me and add tag of hacktoberfest22

[2022-10-03 19:16] yosaami commented on #2194
@fineanmol I want to work on this project, please assign me this project.

[2022-10-03 19:21] raikiran07 commented on #1970
Hello everyone, I have already made this game using html, css and javascript. I also build one using react so I have the capability to help others using these technologies, it would be great if anyone could assign me this task with hacktoberfest tag so that I can start my opensource journey.

[2022-10-03 19:25] raikiran07 commented on #1903
@headshigh can you please assign me this task as I have already build one of this game just a week ago using the same technologies you have mentioned in the issue, it would be great if you assign me this task with the hacktoberfest tag.

[2022-10-03 19:27] raikiran07 commented on #1900
hello everyone, I have already work on projects similar to this issue, it would be great if at any means I can help on this project, can anyone assign me this task so that I can start my work. @KedarKK1 can you please assign me this task along with hacktoberfest tag?

[2022-10-03 19:33] raikiran07 commented on #2176
hello @fineanmol can you assign me too, I also want to contribute on this project .

[2022-10-03 19:54] Danish-Belal commented on #2019
@fineanmol  give me hactoberfest tag

[2022-10-03 20:38] raikiran07 opened #2207 "The text in the search box is not visible in light mode."
It is very difficult to see the text inside the search box when the website is in lightmode, I can fix this issue. Please assign it to me under hacktoberfest tag.

[2022-10-03 20:54] #1960 closed

[2022-10-03 20:54] #1967 closed

[2022-10-03 20:54] #1969 closed

[2022-10-03 20:54] #1970 closed

[2022-10-03 20:54] #1971 closed

[2022-10-03 20:54] #1983 closed

[2022-10-03 20:54] #1997 closed

[2022-10-03 20:54] #2000 closed

[2022-10-03 20:54] #2012 closed

[2022-10-03 20:54] #2016 closed

[2022-10-03 20:54] #2019 closed

[2022-10-03 20:54] #2034 closed

[2022-10-03 20:54] #2042 closed

[2022-10-03 20:54] #2043 closed

[2022-10-03 20:54] #2044 closed

[2022-10-03 20:54] #2087 closed

[2022-10-03 20:54] #2098 closed

[2022-10-03 20:54] #2141 closed

[2022-10-03 20:54] #2176 closed

[2022-10-03 20:54] #2182 closed

[2022-10-03 20:54] #2189 closed

[2022-10-03 20:54] #2194 closed

[2022-10-03 20:55] #1786 closed

[2022-10-03 20:55] #1807 closed

[2022-10-03 20:55] #1827 closed

[2022-10-03 20:55] #1828 closed

[2022-10-03 20:55] #1829 closed

[2022-10-03 20:55] #1834 closed

[2022-10-03 20:55] #1851 closed

[2022-10-03 20:55] #1866 closed

[2022-10-03 20:55] #1877 closed

[2022-10-03 20:55] #1896 closed

[2022-10-03 20:55] #1900 closed

[2022-10-03 20:55] #1903 closed

[2022-10-03 20:55] #1904 closed

[2022-10-03 20:55] #1910 closed

[2022-10-03 20:55] #1928 closed

[2022-10-03 20:55] #1931 closed

[2022-10-03 20:55] #1933 closed

[2022-10-03 20:55] #1942 closed

[2022-10-03 20:55] #1943 closed

[2022-10-03 20:55] #1946 closed

[2022-10-03 20:55] #1955 closed

[2022-10-03 20:56] #1599 closed

[2022-10-03 20:56] #1611 closed

[2022-10-03 20:56] #1618 closed

[2022-10-03 20:56] #1631 closed

[2022-10-03 20:56] #1644 closed

[2022-10-03 20:56] #1651 closed

[2022-10-03 20:56] #1672 closed

[2022-10-03 20:56] #1676 closed

[2022-10-03 20:56] #1681 closed

[2022-10-03 20:56] #1687 closed

[2022-10-03 20:56] #1688 closed

[2022-10-03 20:56] #1701 closed

[2022-10-03 20:56] #1704 closed

[2022-10-03 20:56] #1711 closed

[2022-10-03 20:56] #1730 closed

[2022-10-03 20:56] #1740 closed

[2022-10-03 20:56] #1742 closed

[2022-10-03 20:56] #1748 closed

[2022-10-03 20:56] #1759 closed

[2022-10-03 20:56] #1771 closed

[2022-10-03 20:56] #1782 closed

[2022-10-03 20:57] #1366 closed

[2022-10-03 20:57] #1370 closed

[2022-10-03 20:57] #1386 closed

[2022-10-03 20:57] #1452 closed

[2022-10-03 20:57] #1464 closed

[2022-10-03 20:57] #1468 closed

[2022-10-03 20:57] #1473 closed

[2022-10-03 20:57] #1504 closed

[2022-10-03 20:57] #1509 closed

[2022-10-03 20:57] #1510 closed

[2022-10-03 20:57] #1523 closed

[2022-10-03 20:57] #1563 closed

[2022-10-03 20:57] #1565 closed

[2022-10-03 20:57] #1587 closed

[2022-10-03 20:57] #1589 closed

[2022-10-03 20:57] #1592 closed

[2022-10-03 20:57] #1594 closed

[2022-10-03 20:58] #2 closed

[2022-10-03 20:58] #948 closed

[2022-10-03 20:58] #1333 closed

[2022-10-03 20:58] #1341 closed

[2022-10-03 20:58] #1344 closed

[2022-10-03 20:58] #1349 closed

[2022-10-03 21:00] fineanmol opened #2211 "Improve the search button functionality🔎 to filter Contributors names in the webpage."
### We Have a Long List of Contributors. Adding a search button functionality on the top will increase productivity.

[2022-10-03 21:00] #1169 closed

[2022-10-03 21:01] #2088 closed

[2022-10-03 21:05] vedsom opened #2212 "Want to add an educational website"
Many times when we want to learn any skill we look to google sites, if we didn't get it we go to youtube, and even after that if we didn't get the required tutorial we go to courses from udemy or Coursera.
  To save this time I want to built a platform where we get all type of content at one place blogs, youtube tutorial and courses at one place which will save lot of time.

@fineanmol kindly assi

[2022-10-03 21:05] fineanmol opened #2213 "Images are not loading on webpage, after the profiles are loading. Anyone can pick it up?"
**Images are not loading on webpage, after the profiles are loading. It should display the user images as well in the blank avatar.**
<img width="1466" alt="image" src="https://user-images.githubusercontent.com/24794539/193682124-b99382f3-b5cc-4b64-a804-9f9872c5b9de.png">

### This is the expected Behaviour Reference💯
<img width="1478" alt="image" src="https://user-images.githubusercontent.com/247

[2022-10-03 21:08] Furquan712 commented on #2213
Please assign it to me , I will fix it @fineanmol

[2022-10-03 21:08] vedsom commented on #2212
@fineanmol can you please add the required tag so that it can be counted in fest. Thanks!!

[2022-10-03 21:10] Furquan712 commented on #2211
Please assign it to me , i will fix it @fineanmol

[2022-10-03 21:20] Furquan712 opened #2216 "Chrome Extensiom"
I want to add Js chrome joke extension
@fineanmol kindly assign me this issue under hacktoberfest.

[2022-10-03 21:24] vedsom opened #2217 "Want to add Restaurant site"
Want to add a restaurant site which contains two options place order or book a table with a menu and contact section.

Tech stack:
HTML
CSS
JAVA SCRIPT

[2022-10-03 22:52] Rahul-Roy-21 opened #2219 "Want to Implement a IceCream App to demonstrate Asynchronous Javascript"
Hello @fineanmol, I wish to add a Icecream App that rewards a bunch of students serially based on their marks. This Javascript project built by me will demonstrate the concepts of Async Javascript like Promises/ Async-await... Please assign me and add the relevant tags related to Hacktoberfest2022 to this issue.

[2022-10-04 03:13] SarthakSharma660 commented on #1748
@fineanmol i have not made apr to your repo and still you marked my issue closed , may I know the reason why?

[2022-10-04 04:20] ushmita4 opened #2233 "Add Breadth First Search Code in C++"
One of the most famous algorithm for graph traversal.

[2022-10-04 04:58] Danish-Belal commented on #2233
@fineanmol @ushmita4   assign this to me .

[2022-10-04 06:35] fineanmol commented on #1748
@SarthakSharma660 please create your PR for the event. You don't need an issue attached with it.

[2022-10-04 06:36] SarthakSharma660 commented on #1748
@fineanmol okay 👍🏻

[2022-10-04 07:16] devUT27 commented on #1956
Please assign me this task

[2022-10-04 07:59] vedsom commented on #2217
@fineanmol can you please put the hackoberfest tag so that I can start contributing?

[2022-10-04 08:54] Yashika1410 opened #2298 "Repo is excluded"
🐞 Problem
hacktoberfest mark this Repo as excluded

image
![image](https://user-images.githubusercontent.com/61237800/193777365-871ce3e7-b1ef-42e6-b52a-68fa15d3d416.png)

[2022-10-04 08:59] nisthajnn commented on #2233
please assign this to me @fineanmol

[2022-10-04 10:28] prateekmohanty63 opened #2310 "Count sort"
I want to add count sort to the CPP code collection
Please assign me this under Hacktoberfest-2022

[2022-10-04 10:39] AaryanSingh0017 opened #2311 "Binary Search in 2D array"
I want to implement Binary search in 2D array in java plz accept the issue and assign me.

[2022-10-04 10:41] vaibhavmishra4g commented on #2311
yo bro great work!

[2022-10-04 10:56] rohitpadage commented on #2310
I would like to solve this issue using different dsa techniques in python language.Please assign asap.

[2022-10-04 11:15] Anshul-13J commented on #2207
I would like to work on this issue

[2022-10-04 11:34] Radhika19Gupta commented on #2211
I can help with this issue.

[2022-10-04 12:07] Ydixit007 opened #2319 "Add Typing Effect Website."
Will like to add a vanilla javascript typing effect website project.
@fineanmol Please help me to contribue to the repository.

[2022-10-04 12:21] Amitpawar88 commented on #2311
If you give a chance for this work, it would be my first contribution.

[2022-10-04 12:52] #2207 closed

[2022-10-04 12:55] #2298 closed

[2022-10-04 13:14] Saumya9425 commented on #2311
Hello @fineanmol I would like to implement Binary Search in 2D array in cpp so please assign me this issue.

[2022-10-04 14:30] ppap1771 commented on #1554
hey i made the game with a GUI can i still create a pull request ??? @fineanmol

[2022-10-04 14:40] rukshanuddin opened #2343 "Links to GH users not working"
I put in this PR to solve https://github.com/fineanmol/Hacktoberfest2022/pull/2342

[2022-10-04 14:41] Pixel-101 commented on #1956
Hey, I would like to take up this issue and solve it efficiently. Thanks

[2022-10-04 14:49] chhavitekriwal commented on #1956
Hey, I would like to work on this! Could you assign me this issue please?

[2022-10-04 15:43] YashGupta1510 opened #2352 "This Repo is Excluded"
Maybe because the Repository doesn't fulfill some term or criteria, the repository is marked excluded

[2022-10-04 15:43] #2213 closed

[2022-10-04 15:45] #2343 closed

[2022-10-04 15:46] #2352 closed

[2022-10-04 15:48] #1361 closed

[2022-10-04 15:50] fineanmol opened #2354 "Load more button"
**When we click on the Loadmore button, It should show some 1-2 sec spinner, then load the list.
It would be a better approach to  load the profiles.**

[2022-10-04 15:50] #2212 closed

[2022-10-04 15:54] duckling69 commented on #2354
Hey, I'd like to contribute to it. Please assign it to me

[2022-10-04 16:54] fineanmol opened #2366 "Id's number on the Contributors.Js is not correct, some numbers are missing in the ID."
### Some contributors missed the sequence of the ID and some numbers are missing.
It should be in sequential order.

[2022-10-04 16:58] devUT27 commented on #2366
please assign this to me

[2022-10-04 16:58] aadarshmani commented on #1956
Hi, I would like to work on this issue. Please assign it to me. Thanks.

[2022-10-04 17:04] sabin-thapa commented on #2366
I will fix it @fineanmol Please assign it to me

[2022-10-04 17:08] adarshgupta404 opened #2372 "Solve Tower of Hanoi game using C++."
Please assign me this.
And make this hacktoberfest-accepted.

[2022-10-04 17:12] sabin-thapa opened #2377 "Python: Missionaries-Cannibals Program"
Solve the missionaries cannibals problem by generating a state space tree as shown:
![image](https://user-images.githubusercontent.com/51270026/193883211-b3c4a7a0-5bf4-4272-8f50-1e1a563ec9f4.png)

Here,[0,0,1] is the goal state where there are no cannibals and missionaries on the starting side and the 1 represents the boat is on the other side from where it started.

[2022-10-04 17:12] sabin-thapa commented on #2377
Please assign this to me @fineanmol

[2022-10-04 17:14] gauriimaheshwarii commented on #2366
Can I work on this issue?

[2022-10-04 17:46] SuddhasilC commented on #1956
Hey, I would like to work on this issue! Could you please assign it to me.

[2022-10-04 17:46] anvikshaaa24 commented on #2211
please assign it to me ,I'll fix the issue asap @fineanmol

[2022-10-04 18:55] vedsom commented on #2212
@fineanmol have you merged the PR?

[2022-10-04 19:06] sagnik036 opened #2397 "wifipasswordextractor in python"
a simple python program that can extract wifi password stored in your pc

[2022-10-04 19:18] Nayanika-12 commented on #2211
Hi @fineanmol please assign me this issue, I can fix it.

[2022-10-04 19:19] Nayanika-12 commented on #1956
Hi @fineanmol please assign me this issue, I can fix it.

[2022-10-04 19:55] prateekmohanty63 commented on #2310
Hello

I have added the count sort code and my name as well in contributor's list
Please merge the pr #2407  under **Hacktoberfest**

Thank you

[2022-10-04 20:54] Sunnyvats01 commented on #2372
I would like to resolve this issue. can you assign this to me

[2022-10-04 20:59] Adeptus123 commented on #2397
Please make this issue a hacktober fest accepted issue and assign this to me

[2022-10-04 21:05] Adeptus123 commented on #2372
Please assign this issue to me

[2022-10-04 21:26] Rahul-Roy-21 commented on #2219
@fineanmol , please merge #2412 and add the hacktoberfest-accepted tag

[2022-10-04 21:49] executionBeast commented on #2354
Hey! @fineanmol I can add this feature please assign it to me.

[2022-10-04 21:55] adarshgupta404 commented on #2372
I already done the code just have to give my PR. Waiting to get assigned.

[2022-10-04 23:34] adarshgupta404 commented on #2372
Please review and merge @fineanmol

[2022-10-05 03:13] anjalibvn opened #2425 "Imolementation of bfs and dfs traversal"

[2022-10-05 03:30] pritika163 opened #2426 "Stack using java"
I want to add a java program that shows the implementation of a stack using java. Please assign me this issue under hacktoberfest 2022

[2022-10-05 05:46] AdarshPradhan1508 commented on #1845
HEY THERE @fineanmol , PLEASE ASSIGN THIS ISSUE TO ME FOR HACKTOBERFEST2022

[2022-10-05 05:51] JavedTadavi commented on #2397
Please assign it to me

[2022-10-05 05:53] Priyanshu-Singhz commented on #2426
I want to contribute into this !

[2022-10-05 06:02] Tara-Choudhary commented on #2366
I would like to work on this issue.. Please @fineanmol Assign this to me

[2022-10-05 06:09] Ramank2002 opened #2443 "I want to add a Guessing Game written in C language"
Hello Sir,
I am Raman Kumar Gupta, with GitHub Id - Ramank2002.
I want to contribute to your repo by adding a new Guessing Game written primarily in C Language.
Kindly consider it and I'll be very thankful to you.
Regards,
Raman Kumar Gupta

[2022-10-05 06:20] nisthajnn commented on #2425
please assign this to me @anjalibvn

[2022-10-05 06:42] sabin-thapa commented on #2366
Hey, @fineanmol, please, merge the PR (https://github.com/fineanmol/Hacktoberfest2022/pull/2453) ``
I've updated the entire file and the IDs are now in sequential order.

[2022-10-05 06:43] nishantkumar1308 opened #2457 "I want to add 2-D game made using HTML ,CSS JAVASCRIPT please assign it to me."

[2022-10-05 07:06] nishantkumar1308 commented on #2457
please assign it to me.

[2022-10-05 07:07] AJK182001 opened #2464 "Going to add my name into the contributors folder"

[2022-10-05 07:55] pradyotRanjan commented on #2366
I would like to work on this issue. Please assign it to me.

[2022-10-05 08:13] #2397 closed

[2022-10-05 08:15] Rahul-Jain-1 opened #2470 "Want to add Letter Combination of a phone number."
Hello @fineanmol  I would like to implement Letter Combination of a phone number (Leetcode Problem) in cpp pls assign me this issue under Hacktoberfest Accepted label.

[2022-10-05 08:19] sagnik036 opened #2471 "WIFIPASSWORDEXTRACTOR"
a simple python program that can extract wifi password stored in your pc
#Hacktoberfest

[2022-10-05 08:33] Shubham-Godambe commented on #2311
hey Hii ,@fineanmol  I would like to  work on this issue. I will be doing my implementation in Java .

[2022-10-05 09:57] AryanSahoo-2003 opened #2479 "Making a comment section project using Php and HTML"
Hello! As I have seen many of my peers getting stuck at how to add comment section using php ..I want to create a sample website showing a basic comment section..
Can you assign it to me under Hactoberfest ?

[2022-10-05 10:18] Shrutigupta03 commented on #2311
Hello @fineanmol,
I'ld like to implement Binary Search in array, please assign me this under Hactoberfest accepted lebel.

[2022-10-05 10:22] Shrutigupta03 commented on #2443
Hello @fineanmol ,
I would like to contribute to your repo by adding guessing game in C language, please assing me this work.
I'll be very thankful to you.

[2022-10-05 10:30] Shrutigupta03 commented on #2426
I want to contribute into this. Please assign it to me.

[2022-10-05 12:13] sujalgarg17 commented on #2372
Please assign this issue to me

[2022-10-05 13:33] krishnabiradar310802 commented on #2319
can i work on this issue? @Ydixit007

[2022-10-05 15:11] Garvit414 opened #2511 "Kadane’s Algorithm in C++"
I want to add Kadane’s Algorithm in C++ Folder .Please assign it to me @fineanmol

[2022-10-05 16:33] rohitpadage commented on #2471
This issue seems challenging. I would like to work on it .Please assign the issue asap.

[2022-10-05 16:54] nisthajnn commented on #2511
please assign this to me

[2022-10-05 17:19] 22shubh22 commented on #1956
seems resolved @NageshMandal

[2022-10-05 18:14] gauriimaheshwarii commented on #2366
Hi @fineanmol, kindly merge the PR (#2531).
All updates are made and the file is now in sequential order.

[2022-10-05 19:30] PrinceSah09 commented on #2511
Hey , I want to Impliment  Kadane’s Algorithm please assign it to me :)

[2022-10-05 19:39] smilewithkhushi opened #2546 "Java GUI Program for an Expense Management System"
A Java GUI program created using Swing that contains the fields asking user to store their expenses and the expense details. When the details are entered and save button is clicked, the data gets stored in the mySQL database in a table named "Expenses"

This is my first issue in this project
hence, i request you to assign this task to me!.

[2022-10-05 21:28] fineanmol opened #2557 "Remove Duplicate Names on ContributorsList 🤷🏻‍♂️"
### There are few duplicates name in the List. removing the duplicate copy can be a submission.

[2022-10-05 22:56] raviranjan9 commented on #2557
Hii, Could you assign it to me. I will do the task.

[2022-10-05 23:05] raviranjan9 commented on #2557
Hii, Could you assign it to me. I will do the task.

[2022-10-06 02:17] AryanSahoo-2003 commented on #2479
Sir you have not added hacktoberfest label.. please confirm it

[2022-10-06 04:40] sabin-thapa commented on #2557
Hi, it says that this repo has been excluded from the Hactoberfest.
![image](https://user-images.githubusercontent.com/51270026/194215600-0c087732-89c2-4c8f-be62-16ceae574fee.png)

@fineanmol

[2022-10-06 04:56] Abhash-Chakraborty commented on #2464
can you assign me @fineanmol

[2022-10-06 06:05] yashvardhansingh15 commented on #2511
HEY, I want to assign Kadane's algorithm, please assign it to me

[2022-10-06 06:19] PrinceSah09 commented on #2511
PR done :)

[2022-10-06 06:19] Gourav1195 commented on #2557
I will do the task,
Kindly assign me

[2022-10-06 06:20] Gourav1195 commented on #2511
I will do the task,
Kindly assign me

[2022-10-06 06:20] Gourav1195 commented on #2471
Kindly assign me

[2022-10-06 06:57] 1Alisha commented on #2479
please assign this to me..

[2022-10-06 07:01] 1Alisha commented on #2372
Please assign this issue to me..

[2022-10-06 07:02] 1Alisha commented on #1956
Please assign this work to me

[2022-10-06 07:18] 1Alisha commented on #2426
Please assign this to me

[2022-10-06 07:23] 1Alisha commented on #2319
Please assign this work to me

[2022-10-06 08:18] Abhash-Chakraborty commented on #2464
@fineanmol I made the load more button attractive

[2022-10-06 08:20] Abhash-Chakraborty commented on #2464
I have sent PR please check @fineanmol

[2022-10-06 09:41] Adeptus123 commented on #2372
I have made a pull request this solution kindly check and accept it

[2022-10-06 10:25] Abhishekjain113 commented on #2511
Please assign to me
i am recently starting learning algorithm and open source

[2022-10-06 10:26] Abhishekjain113 commented on #2426
I want to add a java program that shows the implementation of a stack using java. Please assign me this issue under hacktoberfest 2022
#hacktoberfest

[2022-10-06 10:49] yashrajyash opened #2628 "I want to add solution to famous problem sliding window median"
@fineanmol Please assign me this under hacktoberfest-accepted
link to problem: https://leetcode.com/problems/sliding-window-median/

[2022-10-06 12:18] Khushi260 opened #2636 "Simons Game"
Simons game is created using HTML,CSS and mainly Javascript.
Please assign me this issue under Hacktoberfest 2022.

[2022-10-06 12:30] Khushi260 opened #2639 "Lovescore Game in Javascript"
This game predicts the compatibility of two people based on their names.
Please assign me this issue under Hacktoberfest 2022.

[2022-10-06 12:46] #1956 closed

[2022-10-06 13:34] vansh-patel-8123 commented on #2511
please assign to me

[2022-10-06 13:36] Dishag2611 commented on #2557
Hi @fineanmol please assign me this issue I would like to work on it.

[2022-10-06 13:40] manish831 opened #2650 "I want to add a CPP program for BellMan-Ford Algorithms."
**Is your feature request related to a problem? Please describe.**
This Algorithms help us to find shortest path between two vertex of graph.

**Describe the solution you'd like**
As it also works for negative weighted edges, i thought it must be present in this repo.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2022-10-06 15:31] prasadpatil05 commented on #2650
hey i have writed code for this on my ide assign me this issue

[2022-10-06 15:34] Souronix44 opened #2665 "Sudoko Solver Leetcode Hard 37"
Can u assign me this?
I want to give C++ solution

[2022-10-06 15:51] himanshu30-max opened #2669 "Peak index in a mountain array in cpp"
hello @fineanmol i want to implement this leetcode problem code under Hacktoberfest 2022 please assign this issue to me and make it hacktober-accepted label

[2022-10-06 15:52] kbhavre commented on #2557
can you please assign this task to me

[2022-10-06 16:03] khareyash05 opened #2670 "Longest consecutive subsequence"
I would like to solve the problem of LCS using DP

[2022-10-06 16:33] itsAftabAlam opened #2675 "add insertion sort in java"

[2022-10-06 16:33] itsAftabAlam commented on #2675
please assign this to me

[2022-10-06 17:13] surajkeshari commented on #2665
can u assign me.
I want to give java solution.

[2022-10-06 17:15] surajkeshari commented on #2670
can u assign me .
i want to give c++ solution of this with full explanation through comment.

[2022-10-06 17:30] Ananyaa03 commented on #2557
Hey, Can you assign this task to me?

[2022-10-06 17:39] #2511 closed

[2022-10-06 18:16] adivya-jain commented on #2443
hello @fineanmol ,i want to contribute to your repo by adding guessing game in C language, its my first Hacktoberfest please assign it to me

[2022-10-06 18:40] zabuja opened #2686 "selection sort but recursively"

[2022-10-06 18:59] #2686 closed

[2022-10-06 19:42] shivamsisodia07 opened #2690 "I would like to add a game which generate avatar according entered name"
I would like to add a game which generates avatar according to entered user name  ,hacktoberfest 2022.
please assign this to me

[2022-10-07 04:06] Abhishekjain113 commented on #2670
Please assign to  me
 i would like to solve

[2022-10-07 04:09] 1Alisha commented on #2372
Please review and merge my PR @fineanmol and please make this hacktoberfest-accepted.
Thanks

[2022-10-07 04:09] Abhishekjain113 opened #2712 "I would add STL in c++ under hacktoberfest 2022"

[2022-10-07 04:09] Abhishekjain113 commented on #2712
PLEASE assign to  me

[2022-10-07 05:20] Anshika-sona commented on #2669
hi , will love to contribute , please assign this issue to me.

[2022-10-07 05:22] Anshika-sona commented on #2665
hii , will love to contribute to this .....want to give java solution ...please assign me this .

[2022-10-07 05:25] Anshika-sona commented on #2311
hii , will love to contribute to this .....want to give C++ solution ...please assign me this under Hacktoberfest accepted label.

[2022-10-07 05:27] Anshika-sona commented on #2426
hii , will love to work on this ........please assign me this under Hacktoberfest accepted label.

[2022-10-07 05:29] Anshika-sona commented on #2470
hii @fineanmol , will love to work on this .....want to give C++ solution ...please assign me this under Hacktoberfest accepted label.

[2022-10-07 05:32] Anshika-sona commented on #2712
hii @fineanmol , will love to work on this. I will add STL in C++. Please assign me this under Hacktoberfest accepted label.

[2022-10-07 06:01] fineanmol commented on #2464
It has been merged

[2022-10-07 06:21] Stolen-king commented on #2665
Hi mam ,i would love to give c++,java and python solution for this code.Please assign me to this as this is my first open sourse contribution participation .

[2022-10-07 06:23] Stolen-king commented on #2557
HI @fineanmol sir please assign me to this.It would a great opportunity for me to learn new things.

[2022-10-07 06:28] Abhishekjain113 commented on #2712
pr done sir

[2022-10-07 06:30] malvika-sinha commented on #2557
heyy! can you assign me this task?

[2022-10-07 06:38] yashvardhansingh15 commented on #2650
added the PR kindly see it please

[2022-10-07 06:40] djharshit opened #2736 "Want to add weight convertor GUI"
I would like to add weigth convertor in Python GUI. Kindly assign me to this.

[2022-10-07 06:40] shimmer12 commented on #2311
I want to add c++ solution for this issue @fineanmol

[2022-10-07 06:41] shimmer12 commented on #2311
please assign me this under Hacktoberfest accepted label.

[2022-10-07 08:08] himanshu30-max commented on #2669
hii @fineanmol i have craeted the pr please review it and add a tag of hacktoberfest-accepted

[2022-10-07 08:24] Muthulakshimi opened #2755 "print the elements of the matrix in the spiral manner"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-07 08:35] SanjoySaha24 commented on #2372
Please assign this issue to me @fineanmol

[2022-10-07 08:39] HarshGupta74 commented on #2372
@fineanmol please assign this to me.

[2022-10-07 08:50] HarshGupta74 opened #2760 "NTH NUMBER IN FIBONACCI SERIES USING DP in C++"
I would like to add Fibonacci series code in c++ using dynamic programming ans please make it hacktoberfest accepted

[2022-10-07 10:29] prasadpatil05 commented on #2372
hey assign me this

[2022-10-07 10:29] nikhiljain-413 commented on #2665
I have submitted the code for sudoku solver in java. Kindly merge the submission. Thankyou

[2022-10-07 10:30] prasadpatil05 commented on #2650
hey please
make this hacktoberfest- accepted

[2022-10-07 10:33] shivamsisodia07 commented on #2690
please make this hacktoberfest labeled.

[2022-10-07 11:39] rohan26062001 commented on #2760
Hey @HarshGupta74 I've started this work...

[2022-10-07 11:52] Souronix44 commented on #2665
I have submitted the solution for c++, merge it and please add hacktoberfest tag

[2022-10-07 12:33] #2372 closed

[2022-10-07 13:58] shubhamrawat090 opened #2790 "Leetcode #1530 Number of good leaf pairs"
I will provide the solution on the problem number of good leaf pairs with comments explaining the logic as well.
Please assign it to me.

[2022-10-07 14:01] sibansu opened #2791 "I want to create a DSA section where i would upload leetcode solutions"
Need permission

[2022-10-07 14:11] JavedTadavi commented on #2557
Please assign me this task

[2022-10-07 14:13] shreyas-9 opened #2792 "Trapped rain water problem"
I want to add solution for trapped rain water problem in java .
please assign it to me with hacktoberfest label
@fineanmol

[2022-10-07 14:44] Khushi260 commented on #2636
This Repo is excluded from Hacktoberfest 2022.

[2022-10-07 14:44] #2636 closed

[2022-10-07 14:50] sibansu commented on #2791
starred

[2022-10-07 15:30] fishmeister09 opened #2805 "Implementation of doubly linked list and its CRUD operations"
would like to add doubly linked list in ds

[2022-10-07 16:02] HarshGupta74 commented on #2755
Hello @fineanmol please assign me this i will provide well-written optimized code for this. And please make this issue hacktoberfest accepted.

[2022-10-07 16:32] ishubham010 opened #2816 "Java Program"
Hello Sir, I want to add a simple java program in this project.

[2022-10-07 17:22] Vipdhruvkalra commented on #2816
Hello sir I want to add a java program in it. Please assign this to me.

[2022-10-07 17:46] AVMktl opened #2822 "To beautify the social media icons in footer"
Styling of social media icons at the footer can be improved.

[2022-10-07 17:51] AVMktl commented on #2822
I want to work on this issue.

[2022-10-07 18:00] ishubham010 commented on #2816
I have added a Java code to find the frequency of each element in a array.
close #2823

[2022-10-07 18:00] #2816 closed

[2022-10-07 18:08] raxvab commented on #2760
Can I get this issue assigned  under Hacktoberfest 2022. This is the first time I'm contributing in hacktoberfest and since I've a good hold of dsa so I think i can do the job.

[2022-10-07 18:11] Muthulakshimi commented on #2755
@fineanmol thanks for assigning.. in the hacktoberfest website why does it say its excluded. Is there anything I can do from my side

[2022-10-07 18:19] raxvab commented on #2805
Can I get this issue assigned  under **Hacktoberfest 2022.** This is the first time I'm contibuting in hacktoberfest and since I've a good hold of dsa so I think i can do the job.
I've already starred the repo.

[2022-10-07 18:42] shivamsisodia07 commented on #2690
I have added the program,please label it as hacktoberfest accepted

[2022-10-07 18:47] Swarax007 commented on #2792
Hey, please assign me the issue for contribution. I would like to contribute to the problem in C++.

[2022-10-07 18:57] himanshu17-2000 opened #2835 "Create a connect four game with React.js"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-07 18:59] himanshu17-2000 commented on #2835
please assign this issue to me , Thank you

[2022-10-07 19:22] Dev-tanay commented on #2319
can i work on this issue? @Ydixit007

[2022-10-07 19:22] Dev-tanay commented on #1845
Can i work on it??

[2022-10-07 19:28] ujjawalD07 commented on #2835
Hi, I want to work on this issue. Please assign it so I can start as soon as possible. Thank You!

[2022-10-07 19:32] ujjawalD07 opened #2841 "Hi, I want to add a Simon game made using JavaScript. Kindly assign me the task"

[2022-10-07 19:55] ujjawalD07 commented on #2457
I want to work on this issue, kindly assign it to me.

[2022-10-07 20:11] PanikaGupta commented on #2557
hey!assign this to me

[2022-10-07 20:51] ujjawalD07 opened #2848 "Load more button not working"
Hey @fineanmol , Can you explain to me what are you trying to do with the "load more" button. I want to work on fixing it.
Kindly explain and assign me this task.

[2022-10-07 20:57] ujjawalD07 commented on #2848
Fixed this issue, kindly merge my PR.

[2022-10-07 21:09] ujjawalD07 commented on #2848
![hack](https://user-images.githubusercontent.com/87711904/194652713-d0fdcf72-1f28-4679-9c3e-849b1185effa.JPG)
### **After changes**

[2022-10-07 22:19] Sakshiwalode28 commented on #2805
I would like to implement doubly LL please assign it to me.

[2022-10-07 22:21] Sakshiwalode28 commented on #2792
I would like to solve the problem in C++ please assign it to me.

[2022-10-07 22:40] #2841 closed

[2022-10-07 22:44] fineanmol opened #2859 "Animated-Profile-Card"
I want to add Animated-Profile-Card using CSS.

[2022-10-07 22:45] #1845 closed

[2022-10-08 00:58] het-dave commented on #2859
Please assign this to me.

[2022-10-08 03:20] codemastershrey commented on #2310
I would like to solve this issue using different DSA techniques in java language. Please assign me asap.

[2022-10-08 04:32] SUSHREE2004 commented on #2760
can i solve the issue , please assign me

[2022-10-08 04:35] SUSHREE2004 commented on #2805
i would like to solve the issue , please assign me for this

[2022-10-08 04:40] OneAutumLeaf commented on #2859
Hi @fineanmol
Can u assign this to me. Iwant to work on this Issue

[2022-10-08 04:44] PavvanPradeep commented on #2805
can you assign this issue to me

[2022-10-08 05:59] gandhi25samar commented on #2557
Hey, please assign me this issue

[2022-10-08 06:46] Ydixit007 commented on #2319
Hi @fineanmol , Please accept the pull request #2889 for this issue.

[2022-10-08 06:50] AyushBorage28 commented on #2859
Experienced Web Developer here.
Would love to work on this issue.
Thankyou

[2022-10-08 07:09] ajaybara commented on #2760
I want to solve the issue. This is my first contribution.

[2022-10-08 07:12] ajaybara commented on #2311
I want to solve the issue . can you assign me?

[2022-10-08 07:33] himanshu30-max opened #2893 "Stars on webpage are not changing"
HI @fineanmol i want to contribute to this task under hacktoberfest-accepted label please assign this  to me

[2022-10-08 07:59] AyushBorage28 commented on #2859
@fineanmol  Where do you want the profile card displayed?

[2022-10-08 08:19] PaxtonDevs commented on #2557
Would like to be assigned this as well

[2022-10-08 08:26] Krunal-Karena commented on #2859
Please assign this to me.

[2022-10-08 08:35] vkaash-sharma commented on #2310
please assign this to me

[2022-10-08 08:42] SiddhiKhade commented on #2859
Hi, I would really appreciate it if you assign this to me, Thanks!

[2022-10-08 09:00] prasadpatil05 commented on #2650
hey review my pr and kindly merge it ...(optimised solution)

[2022-10-08 09:11] aagravedu opened #2908 "Want to add an animated Website project using GSAP in JS."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-08 09:13] aagravedu commented on #2908
Sir, please assign this issue to me under hacktoberfest2022.
And would be grateful if you could put the label as hacktoberfest2022.

[2022-10-08 09:39] RitoDas1923 opened #2911 "Implementing Level Order Traversal of Binary Tree in Python"
I would like to add Level Order Traversal of Binary Tree in Python . Please assign me this issue.

[2022-10-08 10:31] kumarsurajsk opened #2917 "Addition without arithmetic operation"
Q. Addition without arithmetic operation

Ans. Using bit-wise operator we can achieve it.

[2022-10-08 10:32] yosaami commented on #2639
I would like to contribute to this issue. Please assign me.

[2022-10-08 10:38] kumarsurajsk commented on #2917
https://github.com/fineanmol/Hacktoberfest2022/pull/2920

[2022-10-08 11:10] #2736 closed

[2022-10-08 11:14] #2319 closed

[2022-10-08 11:24] fineanmol opened #2927 "Contribute to Hacktoberfest Project 2 : Annoying Button 🎉"
### Contribute to Hacktoberfest Project 2 : [Annoying Button](https://github.com/fineanmol/Annoying-submit-button) 🎉
link : https://github.com/fineanmol/Annoying-submit-button

**Star** ⭐️ this project and  Annoying Button project to earn "HacktoberFest-accepted" label.

[2022-10-08 11:26] fineanmol opened #2928 "Id's number on the Contributors.Js is not correct, some numbers are missing in the ID."
### Some contributors missed the sequence of the ID and some numbers are missing.
It should be in sequential order.

[2022-10-08 11:47] shubhamrawat090 commented on #2928
I have fixed the list and also added my contribution of number of good lead pairs, please check the PR @fineanmol

[2022-10-08 12:37] Gangaraj123 commented on #2211
Please assign this issue to me @fineanmol

[2022-10-08 13:06] #2791 closed

[2022-10-08 13:22] gandhi25samar commented on #2928
I am removing all the duplicate names and also arranging the id numbers
It will be done in 10 minutes

[2022-10-08 13:27] malikzi21 commented on #2917
I have made pull request kindly merge this

[2022-10-08 13:49] gandhi25samar commented on #2928
Hey @fineanmol I have sent a PR in which duplicate names are deleted and the Ids arein ascending order. Please merge it and also add the hacktoberfest label and let me know

[2022-10-08 14:26] Satakshi20 commented on #2917
Hello sir, Can you assign this issue to me?

[2022-10-08 14:35] PanikaGupta commented on #2557
<img width="659" alt="image" src="https://user-images.githubusercontent.com/107405215/194712744-7b079718-742f-415b-a6db-10648417ba59.png">
can you plz give me write access to push the code in the repo, plz find my username: panika.2125it1154@kiet.edu
@fineanmol

[2022-10-08 14:37] soham0352 commented on #2805
Giving my first hacktoberfest. Can you please assign this issue to me?

[2022-10-08 14:45] fineanmol commented on #2928
Can you please share the MR number.

[2022-10-08 14:46] Danish-Belal commented on #2760
@fineanmol  i would like to work on it also . Kindly assign it to me.

[2022-10-08 14:49] Danish-Belal commented on #2426
@fineanmol @pritika163 i would love to work on it , really looking forward to get assigned.

[2022-10-08 15:09] Satakshi20 commented on #2805
Hello sir, Can you please assign me this issue?

[2022-10-08 15:57] SharmilaChoudhary commented on #2822
I would be grateful if u assign this issue to me.

[2022-10-08 16:03] SharmilaChoudhary commented on #2639
I want to work on this issue.I would be grateful if you assign it to me.

[2022-10-08 16:17] TimTemi commented on #2928
Hey @fineanmol, assign this task to me.

[2022-10-08 16:29] Erum640 commented on #2893
Please assign me this isssue I want to work on it.

[2022-10-08 16:33] Nymphalys opened #2998 "Digital clock Project in js"
Wanna add a Digital Clock Project in js

[2022-10-08 16:34] Nymphalys commented on #2998
I am interested in working in this issue #2998 @fineanmol .Plz assign me this one

[2022-10-08 16:44] rnavaneeth992 opened #3000 "I would like to add maximum sub array in cpp"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-08 17:02] Kesavan-Raman opened #3005 "[LEETCODE] - 290. Word Pattern - Java Solutions"
I would like to add the solution for this question.

[2022-10-08 17:11] duckling69 commented on #2354
Hi @fineanmol I've sent the PR of load button animation can you have a look at it.

[2022-10-08 17:13] freshie9098 commented on #3005
I would like to add the solution for this question

[2022-10-08 17:18] shital-09 commented on #2927
I can contribute on this issue , can you please assign it to me @fineanmol

[2022-10-08 17:36] gandhi25samar commented on #2928
Thank you for merging my PR and adding hacktoberfest label

[2022-10-08 17:38] AVMktl commented on #2822
I have styled the footer and transitioned the footer social icons.

[2022-10-08 18:07] SwarupKMondal opened #3015 "Take A Break Script"
I am a contributor at hacktoberfest2022, I want to contribute  to this issue. Please assign me this. I will use python and relevant module to level up a script of Python frameworks

[2022-10-08 18:41] gulshanjakhon commented on #2557
please assign this issue to me 🤞

[2022-10-08 19:18] manishtambe commented on #2805
@fishmeister09  Can you assign it to me I would like to contribute in java !

[2022-10-08 20:28] Danish-Belal commented on #2917
@kumarsurajsk  @fineanmol  assign this to me  , wanna work using bits.

[2022-10-09 02:52] kushank1207 opened #3044 "Repo is not accepted in Hactoberfest 2022"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-09 02:52] #3044 closed

[2022-10-09 05:13] Mahajan29 commented on #2805
@fishmeister09 Please assign doubly LL to me as my first open source contribution.

[2022-10-09 05:29] chetansingh-2 opened #3066 "This repo is showing excluded from hacktoberfest. Please add necessary tags"

[2022-10-09 05:31] Akshatmish commented on #3005
I would like to work on this project. Please assign it to me

[2022-10-09 05:32] akash-rajak opened #3068 "EXCLUDED REPOSITORY"
This project is excluded form Hacktober fest 2022.

[2022-10-09 05:34] akash-rajak commented on #3068
what i means to say is project is excluded, the PR's to this are not going to count

[2022-10-09 05:41] Arvind0-0 commented on #3005
hi i would like to work on this issue . please assigned it to me

[2022-10-09 05:54] manishtambe commented on #2805
@fishmeister09  added doubly linked list using java under java data structure folder please merge my PR !

[2022-10-09 06:07] kbhavre commented on #2557
Please assign this issue to me

[2022-10-09 06:22] kbhavre commented on #2859
Please assign this task to me

[2022-10-09 06:32] Abhishek-5854 commented on #2019
give me hacktoberfest tag  i have star this repo

[2022-10-09 07:57] Himanshi031 commented on #2927
I would like to contribute on this issue. Please assign it to me @fineanmol

[2022-10-09 09:23] rpj09 opened #3106 "Added python programs in project for hacktoberfest"
Please refer to #3104  I have added python programs and added them to the contributor's list. For hactober fest, please approve my pr and add required tags

[2022-10-09 10:54] shreyas2711 commented on #2928
Hey @fineanmol can you assign this to me? I will update the incorrect id's present in contributors.js

[2022-10-09 11:49] Shreyash1601 opened #3125 "Voice operated calculator"
I am interested in incorporating a voice operated calculator. Please assign me this task

[2022-10-09 11:49] Krunal-Karena commented on #2859
your repo is excluded from Hacktoberfest.

[2022-10-09 12:17] shreyas2711 commented on #2859
Why?

[2022-10-09 12:18] shreyas2711 commented on #2859
Why?

[2022-10-09 13:19] Ankitrai2204 commented on #3106
Hello I want to contribute on this project. Can you please assign it to me and tell about our requirements.

[2022-10-09 13:23] Danish-Belal commented on #2928
Hey @fineanmol  i dont know whats goes wrong my PRs are not getting merged and i m not beign assigning any tasks i have requested for !

[2022-10-09 13:48] nityabarwi commented on #3106
Hello
Can you please assign me this issue ?

[2022-10-09 14:34] dev-32 opened #3157 "Update CODE_OF_CONDUCT.md"
This file contains 3-4 grammar errors that can be improved in order to make it more interactive.
<img width="718" alt="Screenshot 2022-10-09 at 8 02 53 PM" src="https://user-images.githubusercontent.com/99115141/194762674-e03ada34-5384-4c5b-82ba-9d5f657f8043.png">
<img width="696" alt="Screenshot 2022-10-09 at 8 03 09 PM" src="https://user-images.githubusercontent.com/99115141/194762677-306c508f-f

[2022-10-09 14:37] soham0352 opened #3158 "LEETCODE #61 ROTATE A LIST"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-09 14:38] soham0352 commented on #3158
Can you assign me this issue?

[2022-10-09 14:38] dev-32 commented on #3157
I have already starred.
I have raised PR!!

[2022-10-09 15:02] Parth-Panjwani opened #3161 "Employee Management System- Java Swing"
# Problem
- I have built the Employee Management System using java swing.

# Solution
- I want to get accepted for hacktoberfect. Please merge this with your repo and help me to move forward.
- This is my first time contributing to open source :)

## Changes proposed in this Pull Request :
- Manage Employee
- Add Employee
- View Resume
- View Stats

## Other changes
- Will be adding JDBC soon.

[2022-10-09 15:14] palprashant2002 commented on #3158
Please assign me this issue...

[2022-10-09 15:18] Vivek-raj-64 commented on #2927
I can resolve this issue. Can you please assign it to me under hactoberfest label @fineanmol

[2022-10-09 15:22] Vivek-raj-64 commented on #2557
Can you please assign it to me @fineanmol

[2022-10-09 15:31] SwarajShelavale commented on #3158
Hello, Can you assign me this issue?
I am interested to solve this issue.

[2022-10-09 17:27] #3000 closed

[2022-10-09 17:47] #3157 closed

[2022-10-09 17:57] MasterofDeath0 opened #3186 "Numpy Basic Tutorial Codes"
Hey, as this is my first Hacktoberfest, I want to contribute this too by providing basic Numpy Codes for easy understanding pf anyone accessing it.

[2022-10-09 17:58] MasterofDeath0 commented on #3186
already Starred

[2022-10-09 18:08] MasterofDeath0 commented on #2805
Can I get this issue assigned under Hacktoberfest 2022. This is the first time I'm contibuting in hacktoberfest

[2022-10-09 18:46] Nitish-Kamath commented on #2755
Hey man!! Can you assign this work to me .
It will be  a great start for me :)

[2022-10-09 20:51] Yamini1406 commented on #3005
Hello. I'd like to add a solution. Can you assign this to me

[2022-10-09 21:34] gulshanjakhon commented on #2928
hey, @fineanmol please assign this issue to me.

[2022-10-10 01:54] Mahajan29 commented on #2998
@fineanmol I want to contibute in this project. Please assign this to me

[2022-10-10 03:03] akash-rajak opened #3214 "EXCLUDED REPOSITORY"
This project got excluded from HacktoberFest 2022.

[2022-10-10 05:12] Ris-code commented on #3158
Can you assign me this I am interested in solving this?

[2022-10-10 05:23] kondurihemant commented on #2760
Hey @HarshGupta74 !!!
please assign this issue to me

[2022-10-10 05:26] Sohini3018 commented on #3158
Please assign me this issue...I'm really interested!! Thanks in advance

[2022-10-10 06:57] shreya3106 commented on #3186
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if I can get some more info to work with

[2022-10-10 06:58] shreya3106 commented on #3158
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if I can get some more info to work with

[2022-10-10 07:01] shreya3106 commented on #2927
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if I can get some more info to work with

[2022-10-10 07:08] SwarajShelavale commented on #3158
Hello @fineanmol
I have Solve this issue at solution #3244
Please review my code and merge my pull request.

[2022-10-10 07:09] amitkroutthedev opened #3245 "Flask Rest API Code"
Hello, as this is my first hacktoberfest. Can I contribute by providing rest api with flask. Please assign this to me.

[2022-10-10 07:10] viragjain30 commented on #2464
Hello Sir **@fineanmol** , I think I can make the button even more attractive. So can you please assign me.

[2022-10-10 07:19] rudraneel18 opened #3247 "Word frequency in a file using python"

[2022-10-10 07:20] rudraneel18 commented on #3247
please assign this under hacktoberfest or hacktoberfest-accepted label

[2022-10-10 07:34] amitkroutthedev commented on #3245
I already 🌟 the repo.

[2022-10-10 07:35] SandeshGC commented on #3214
Yes, everyone should know about that.

[2022-10-10 07:36] SandeshGC commented on #3214
![image](https://user-images.githubusercontent.com/59115123/194817778-f4f3bd0c-a50a-4e18-933d-b8cf2afd32ec.png)

[2022-10-10 07:37] rudraneel18 commented on #3247
I have made a PR #3250

[2022-10-10 08:09] sona8340 commented on #3247
please assign me this issue for my hacktoberfest

[2022-10-10 08:12] sona8340 commented on #2928
hey, @fineanmol can you assign me this task

[2022-10-10 08:20] sona8340 commented on #2354
hey @fineanmol can you assign me this task

[2022-10-10 08:23] sona8340 commented on #2760
hey @fineanmol first time I am participating in hacktoberfest ,can you assign me this task

[2022-10-10 08:26] sona8340 commented on #2233
please assign this task to me

[2022-10-10 08:28] Jayant-001 commented on #2790
Hello, I am interested to solve this.
Could you please assign it to me.

[2022-10-10 08:32] Jayant-001 commented on #3186
Hello, I am interested to solve this issue.
Could you please assign it to me.

[2022-10-10 08:44] palprashant2002 commented on #3186
Please assign this issue to me...

[2022-10-10 11:26] Shinchan2803 commented on #2927
i want to work in this issue with the help of android studio with the help of java so can i

[2022-10-10 11:54] Subha-5 opened #3276 "Make a simple sign up form template"
Tech Stack: HTML, CSS, JavaScript

About the project :

- It will be a common template, which can be used by commercial organisations to sign up their users for services.
- It can be further evolved to be used in larger websites to attract a large customer base through subscription based services

Screenshot :
![Screenshot from 2022-10-10 17-23-26](https://user-images.githubusercontent.com/9796830

[2022-10-10 13:09] Pratick9 commented on #3247
please assign me this issue for my hacktoberfest

[2022-10-10 14:10] sahilsharma029 commented on #2859
Hello! @fineanmol
can you please assign me this issue?

[2022-10-10 14:23] AnishKumarGarg commented on #3247
can you assign this to me?

[2022-10-10 14:24] AnishKumarGarg commented on #2712
can you assign this to me?

[2022-10-10 15:04] Sailaja-ASB commented on #3158
Can you assign this issue to me? I am interested to solve this issue.

[2022-10-10 16:03] himanshu30-max opened #3296 "Recurssion Problems in Cpp"
hey @fineanmol i want to implement the code of recurssion problem like Sum,Subsequence,Phone Keypad,Rat in a maze in cpp please assign this to me under hacktoberfest-accepted label

[2022-10-10 16:10] arjun988 opened #3297 "Eulerian_path in CPP"
Hey, as this is my first Hacktoberfest, I want to add Eulerian Path(graph theory) code in cpp . Can u pls assign me this.

[2022-10-10 16:11] arjun988 commented on #3297
already starred

[2022-10-10 16:16] Akshatmish commented on #3247
Please assign me this task

[2022-10-10 17:36] NK-01 commented on #3186
Hi @fineanmol can you pls assign this task to me, I would like to make contribution to Numpy Basic Tutorial Codes.

[2022-10-10 17:36] PavvanPradeep commented on #2805
@fineanmol I have added the code into a c program file pushed to my-new-branch. Please review it. Thank you!!

[2022-10-10 18:01] Shinchan2803 commented on #3296
i want to work on this issue and wantb to add the code which is best example of recusion and important as aspect to interview round so please assign to me with the label of hacktober-accepted

[2022-10-10 18:29] sona8340 commented on #3186
hey @fineanmol Please assign this task to me

[2022-10-10 19:52] Amandeep603 commented on #3296
please assign this work to me . I will write a program with good example which is very easy to understand.

[2022-10-10 19:53] Amandeep603 commented on #2998
please assign  this work to me. I wish i will do this work very effectively.

[2022-10-10 21:59] #3276 closed

[2022-10-11 03:25] psantosh16 opened #3340 "Palindrome Checker in Javascript"
I will like to make my first contribute to Hacktoberfest and I am adding Palindrome checker using JavaScript.

**Describe the solution you'd like**
Palindrome Checker will check whether user entered numbers are palindrome or not using Js concepts.

**Additional context**
This will help new Javascript learner to get started with JS Logical thinking.

I request you to assign this to me.

[2022-10-11 03:26] psantosh16 commented on #3340
Already Stared

[2022-10-11 03:36] psantosh16 commented on #3340
Created Palindrome_Checker_.js #3341 Successfully Added my first contribution in this repo , please accept my PR.

[2022-10-11 04:49] chaitanyadubal opened #3344 "Url-shortner using flask and python"
As my first hactoberfest , i will like to add a mini-project
Url-shortner is made using flask and python
I will like you to assign this to me

[2022-10-11 05:11] SusavanMondal commented on #3344
Hello, I am interested to solve this issue. Please assign it to me

[2022-10-11 05:17] mdzeeshan-2 commented on #3158
Can you assign this issue to me. I want to resolve this issue

[2022-10-11 05:43] mdzeeshan-2 commented on #3340
Please allow to resolve this issue

[2022-10-11 05:47] PurtiMishra commented on #3340
I would like to resolve this issue in the best possible way . Please allow me to do the same.

[2022-10-11 05:49] mdzeeshan-2 commented on #2998
Hii @fineanmol Please allow me to resolve this issue

[2022-10-11 05:57] pranjal896 commented on #3344
assign me

[2022-10-11 06:21] SKSilentKiller commented on #3186
Please assign me this issue I want to work on this

[2022-10-11 06:48] ankitk84 commented on #2911
hey, can you please assign it to me. I just started open source. It'll be me my first contribution. thank you

[2022-10-11 07:10] ImArnoldDCODES commented on #1749
Done with this pls check PR  #1986

Thanks

On Sat, Oct 1, 2022 at 9:48 AM ANMOL AGARWAL ***@***.***>
wrote:

[2022-10-11 07:45] RoopakMallik commented on #1681
Can you please let me know why the repo has the excluded tag on the
hacktober website

On Tue, 4 Oct 2022, 2:26 am ANMOL AGARWAL, ***@***.***> wrote:

[2022-10-11 09:25] yashvardhansingh15 commented on #2511
Please assign me , I could do it easily as recently alI have studied the
algorithm and solved questions on it

On Thu, Oct 6, 2022, 14:13 Anupam ***@***.***> wrote:

[2022-10-11 11:24] shardendu930 commented on #2464
Hello sir @fineanmol please assign me this task. I can modify the button and make it beautiful and attractive.

[2022-10-11 11:47] Moddy2024 commented on #3106
I can contribute to this. If you tell me the requirements

[2022-10-11 14:47] Pranjal2870 commented on #2211
Please assign this issue to me @fineanmol

[2022-10-11 15:04] iqrafirdose opened #3395 "I will Update read me"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-11 15:59] HitanshuGupta commented on #3186
Hi, @fineanmol   I would love to work on this by making my first Hacktoberfest submission. So can you pls assign this task to me, I would like to make a contribution to Numpy Basic Tutorial Codes.

[2022-10-11 16:16] kisan17 commented on #3344
Hi, Please assign me this issues.

[2022-10-11 16:27] subhasis003 commented on #3296
Hi sir, Please assign this work to me.

[2022-10-11 16:38] Spardha-hash opened #3408 "Find the element in an infinite sorted array in java"
I want to add the code for the problem to find the given element in an infinite sorted array which implements binary search by using the concept of taking the elements in the range. Please assign this issue to me.

[2022-10-11 17:10] PummyKumari123 commented on #3296
assign this problem to me

[2022-10-11 17:16] PummyKumari123 commented on #2998
assign this project to me. resolve this issue with digital as well as analog clock

[2022-10-11 17:29] shreyaaansh commented on #3395
I want to make changes in this readme file. Please assign me on this issue.

[2022-10-11 17:35] itzzsoumya commented on #2927
I can contribute on this issue , can you please assign it to me @fineanmol

[2022-10-11 17:37] itzzsoumya commented on #2893
Please assign me this issue, i want to contribute it.

[2022-10-11 17:38] itzzsoumya commented on #3005
Please assign to me,  I want to work on it.

[2022-10-11 18:02] SohanaShabnam05 commented on #3296
please , Assign me this problem

[2022-10-11 18:33] bhavya-sharma26 opened #3426 "Smallest Distinct Window Problem"
Basically this is the problem that approaches to a commonly asked topic in technical interviews that is Sliding Window Technique.
And it would be great to include a program using this approach to this repository.

I would be code the program in C++.

**Describe alternatives you've considered**
I could also code in java and C if you say.

Kindly assign this task to me.
It will be great step from yo

[2022-10-11 19:28] kanikarajpal commented on #3296
Can you please assign this to me?

[2022-10-11 19:29] kanikarajpal commented on #3158
Can you please assign this to me?

[2022-10-11 20:06] joyjeetcoding commented on #3296
Can you please assign me this ?...I am a complete beginner in hacktober fest

[2022-10-11 21:06] kantakshay commented on #2998
I am interested in working on this issue https://github.com/fineanmol/Hacktoberfest2022/issues/2998 @fineanmol.Plz assign me this one

[2022-10-12 02:24] divyanshagarwal053 commented on #3426
Please give me a chance to solve this issue

[2022-10-12 02:26] Arpit-Gulgulia commented on #3426
@fineanmol , can you assign this to me? I would like to take this issue for the Hacktoberfest.

[2022-10-12 04:16] Ervin0307 commented on #3296
Hello @fineanmol , Please assign this task to me. I would be happy to add the code for the placing tiles, Knapsack problem, very basic problems for some beginners to understand like Nth fibonacci, array sort etc.
New to the open source area so itd be great if i could work on this.

[2022-10-12 04:18] Ervin0307 commented on #3426
Hello @fineanmol , I would like to work on this issue, please assign this to me.

[2022-10-12 05:46] Karthik-vangapandu8 commented on #3426
Hello @fineanmol, I can solve this please Assign this issue

[2022-10-12 08:01] Roopshali opened #3457 "Fidget Spinner Game using python"
Here is a working fidget spinner game.
Please assign it to me under hacktoberfest-accepted tag.

<img src= "https://user-images.githubusercontent.com/75069150/195263066-53803b3c-166b-469c-a903-05d74c40aa9f.png" width="400" height="400" />

[2022-10-12 10:05] rakshith6404 commented on #3457
could u assign this to me
i would like to work on it.....i had this same fidget spinner game as a project back in my high school

[2022-10-12 12:28] RaginaPhalangae opened #3474 "Gallery Webpage"
I would like to add a Gallery webpage with beautiful styling and using components like Lightbox .Please assign me this issue .
,

[2022-10-12 13:50] neocollege opened #3481 "Count Sort in CPP"
Count Sort sorting algorithm in C++ language

[2022-10-12 13:52] neocollege commented on #3481
done, repo starred and PR raised

[2022-10-12 14:02] shubh1007 commented on #3186
Please assign this issue to me!

[2022-10-12 15:53] Cyber-Prajwal opened #3490 "E-Voting system using Python"
**Is your feature request related to a problem? Please describe.**
E-Voting system / project I built using python.

**Describe the solution you'd like**
In this python project you get to create polls, with as many options, and then allow voting for the same, the votes are stored in SQL database and after voting is ended, the winner is displayed along with piechart to show the vote distribution.
Th

[2022-10-12 15:55] Cyber-Prajwal commented on #3490
Please assign this issue to me, I have starred the repo as well.

[2022-10-12 16:03] Cyber-Prajwal commented on #3490
/assign

[2022-10-12 16:53] LakshyaBhar commented on #3481
Hello Sir, can you assign this issue to me

[2022-10-12 18:38] RaginaPhalangae commented on #3474
Started...

[2022-10-12 18:40] RaginaPhalangae commented on #3474
Started...

[2022-10-12 19:58] Priyanshu-792 commented on #3481
I want to work on this issue ..please assign it to me

[2022-10-12 20:16] AyushiGautam9 commented on #3474
I starred the repo...and now I hope on getting "hacktober-accepted" label for the event.

[2022-10-12 20:22] RaginaPhalangae commented on #3474
I starred the repo and now I am hoping for getting "**_hacktober-accepted_**" label for the event.

[2022-10-13 01:49] anjaliisonii commented on #3106
Hello there kindly assign this task to me I am python programmer i will defineltly add the code of python which have good time complexity.

[2022-10-13 04:30] Deepak-the-learner commented on #3481
Please assign this task to me
I would like to do this in cpp and make the code understandable.

[2022-10-13 05:03] executionBeast commented on #2211
@fineanmol Please assign me this issue!!

[2022-10-13 06:08] krishna6431 commented on #3186
Please Assign this task to me @fineanmol

[2022-10-13 07:26] Jam-Burger commented on #3481
I would like to work on this issue.

[2022-10-13 07:27] Jam-Burger commented on #2998
I would like to work on this issue.

[2022-10-13 07:39] inbuilt-aura commented on #2927
Hey,i would love to contribue plzz assign me @fineanmol sir

[2022-10-13 08:50] yashraj0114 commented on #2471
I am new to this please help me how to contribute to this

[2022-10-13 08:57] KmKalpana opened #3533 "Cryptocurrency Tracker App using Reactjs and Chartjs"

[2022-10-13 09:21] ishatjha opened #3534 "Basic ideas about (GCC - CPP)"
ASSIGN IT TO ME PLEASE

[2022-10-13 10:27] iianuragii opened #3542 "I have starred your repo"
Hii, I've starred your repo. So can you please accept my pr of "code to find the Minimum Sum of Absolute Differences of Pairs is added #3255". Also please give a Hacktoberfest-accepted label on my commit.

[2022-10-13 10:38] iianuragii commented on #3542
I have star ⭐️ the repo already. Please merge it

[2022-10-13 11:01] SakshamSharma07 commented on #3247
@rudraneel18
kindly assign this to me.I want to work on it.

[2022-10-13 11:06] ankitranjan5 commented on #3247
Please assign this issue to me, I am willing to work on it.

[2022-10-13 11:08] arnav-vivian commented on #3296
hello @fineanmol sir i want to work on this problem. please assing it to me.

[2022-10-13 11:10] nightcoder007 commented on #3340
hey can you assign the task to me??

[2022-10-13 14:45] palprashant2002 commented on #2859
Please assign this issue to me...

[2022-10-13 15:17] #3340 closed

[2022-10-14 01:20] Sritam28 commented on #3457
I wish to work on this project. Can u please assign me this task.

[2022-10-14 03:55] alwenpy opened #3611 "rep excluded from hacktoberfest"
This repository is excluded from hacktoberfest

[2022-10-14 04:27] deepakbhagat7 commented on #3481
I want to work on this issue ..please assign it to me

[2022-10-14 04:28] deepakbhagat7 commented on #3296
@fineanmol I want to work on this issue ..please assign it to me

[2022-10-14 04:28] deepakbhagat7 commented on #3426
I want to work on this issue ..please assign it to me

[2022-10-14 04:29] deepakbhagat7 commented on #3408
I want to work on this issue ..please assign it to me

[2022-10-14 04:54] Nitin-Diwakar opened #3616 "Wants to add my english dictionary project using python"
please assign me to add my project

[2022-10-14 05:07] GitAbhi1289 commented on #3616
hello sir,
can you please assign this issue to me

[2022-10-14 05:10] GitAbhi1289 commented on #3125
Hey, as this is my first Hacktoberfest, I want to contribute this issue

[2022-10-14 05:13] Sakshi2002-Sinha commented on #3481
Hello, Please assign this issue to me.

[2022-10-14 05:42] 1Alisha commented on #3186
@fineanmol
Please help me
I have one doubt could you help me with that?
I have participated in hacktoberfest as a maintainer so where can I see my progress in hacktoberfest or whether my repository is hacktoberfest accepted or not where can i check..As contributors get badges ..Do we as maintainers also get badges

[2022-10-14 08:07] KhushiiAgarwal commented on #3186
Sir, Please assign me the task. I have worked in Numpy as well as Pandas before

[2022-10-14 08:08] KhushiiAgarwal commented on #2557
Sir, Please assign me the task.

[2022-10-14 08:34] KhushiiAgarwal opened #3631 "Covid Management Project using Python & CSV"
Project for Managing data of Covid Patients using Python along with self test of User

[2022-10-14 08:36] KhushiiAgarwal commented on #3631
pls assign and add HacktoberFest label

[2022-10-14 09:32] prashant-jadu commented on #3186
sir please assign me this issue i can contribute to it.

[2022-10-14 12:05] MohammadRehanPatel opened #3645 "add Celsius To Fahrenheit using javascripts"
assign me with Hacktoberfest tag

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2022-10-14 12:07] MohammadRehanPatel opened #3646 "add snake game using js"
**assign me with Hacktoberfest tag**

[2022-10-14 12:37] ashutosh-gupta2111 commented on #3646
Please assign me this issue

[2022-10-14 14:16] hyprex-deva opened #3653 "Weather App"
I want to make the back-end of a Weather application.

It would tell the weather (temperature ,humidity, wind, precipitation etc.) of the city which a user wants to know.

[2022-10-14 16:03] krishnabiradar310802 commented on #2859
@fineanmol i have submitted the PR can you accept it ?

[2022-10-14 16:14] imNilabja commented on #2557
I would like to do this task ,can you assign me.

[2022-10-14 16:14] imNilabja commented on #2354
I would like to do this task ,can you assign me.

[2022-10-14 16:28] unnatigupta2019 commented on #3481
Hello sir , I can solve this issue please assign it to me.

[2022-10-14 16:50] krishnabiradar310802 commented on #2859
@fineanmol is your project excluded from hacktoberfest

[2022-10-14 17:17] Sarthak061 commented on #3186
Request you to assign this issue to me

[2022-10-14 18:44] HimanshuTembhe commented on #3646
Can you pls assign me with hacktober fest tag ?

[2022-10-14 20:11] Developer-Vijay commented on #3296
i would love to do the work on this project .. please assign it to me

[2022-10-15 02:06] TailisUI commented on #3653
I can do This. Can I work on this issue

[2022-10-15 05:40] sachinkrr02 commented on #3645
Hlo sir,
Sir I have solved the issue #3645

[2022-10-15 06:25] gaurav2612gupta commented on #3426
i would like to share my solution

[2022-10-15 08:12] TheJoker-Life commented on #3186
Please assign this issue to me. This is the first time I'm contributing to Hactoberfest, I am just a beginner in learning python, so this will surely help me a lot

[2022-10-15 09:05] VALASALARAKESH commented on #3106
Please assign me to the python problem; I feel confident in my abilities there.

[2022-10-15 10:14] theshaikasad opened #3733 "Numbers glitching on the calculator"
**Is your feature request related to a problem? Please describe.**
The calculator that is implemented doesn't work properly. I noticed that the numbers on the calculator glitch and it doesn't display the numbers anywhere.

**Describe the solution you'd like**
I would like to fix this calculator

**Describe alternatives you've considered**
I'll look into the glitching and implement a display area w

[2022-10-15 10:23] coding-geek21 opened #3734 "Music Player using python GUI tkinter"
Please assign me under Hactoberfest

[2022-10-15 10:42] iamAditya01 commented on #3653
i have already made apps like this, do assign me this one

[2022-10-15 11:13] Nivedita1103 commented on #3734
I would like to contribute to this issue under HacktoberFest2022. Please assign me.

[2022-10-15 12:32] TAnilkar commented on #3457
``from turtle import *
state = {'turn': 0}
def spin():
    clear()
    angle = state['turn'] / 10
    right(angle)
    forward(100)
    dot(120, 'red')
    back(100)

    "second dot"
    right(120)
    forward(100)
    dot(120, 'blue')
    back(100)

    "third dot"
    right(120)
    forward(100)
    dot(120, 'green')
    back(100)
    right(120)
    update()
def animate():
    if state['turn']

[2022-10-15 14:46] vinayakU94 opened #3764 "[important interview problem] Best time to buy and sell stocks"
One of the most important interview problem has been solved under pull request #3762
please

[2022-10-15 17:30] #3764 closed

[2022-10-15 17:57] Ghat0tkach opened #3788 "To add a tic toe game using html, jss and css"

[2022-10-15 18:40] SwarnitSinha commented on #3653
I have experience making this kind of web app.
my repo:  https://github.com/SwarnitSinha/DecodeWeather

Assign me this task. I also starred this repository.

[2022-10-15 18:43] SwarnitSinha opened #3793 "I want to add a program of sudoku solver in Java with explanation."

[2022-10-15 18:44] SwarnitSinha commented on #3793
I can add a program of sudoku solver with clean explanation.
Assign this issue to me.

[2022-10-15 18:56] Kannan0017 commented on #3793
Sir, could you please assign this issue to me?

[2022-10-15 19:11] GeeteshMehto commented on #3186
Hello sir, please assign this issue to me as i already worked on it in past.

[2022-10-15 20:05] Deepanshu1008 commented on #3788
Can you assign this task to me?

[2022-10-16 05:08] theshubhamgour commented on #3788
Could you assign me this issue?

[2022-10-16 05:20] AdityaShaw1 commented on #3481
pls assign me this issue

[2022-10-16 05:21] Jahnavi1970 commented on #3653
I can work on this.

[2022-10-16 05:21] AdityaShaw1 commented on #3296
i would love to contribute to this issue pls assign me

[2022-10-16 05:22] AdityaShaw1 commented on #3158
can u pls assign me to this issue

[2022-10-16 05:28] AdityaShaw1 commented on #2792
hello , i want to solve this issue can u pls assign me ?

[2022-10-16 08:24] Suraj12102882 opened #3820 "captcha generator"
basic python program to generate text based captcha

[2022-10-16 08:24] #3820 closed

[2022-10-16 09:00] Suraj12102882 opened #3826 "text based captcha generator."
text based captcha generator using python

[2022-10-16 09:02] Suraj12102882 commented on #3826
yup i would like to do

[2022-10-16 09:02] #3826 closed

[2022-10-16 09:02] divas18 opened #3827 "Contains Duplicate"
[code]
During Interview of Amdocs interviewer asked me this question

[2022-10-16 09:25] 9520prashant commented on #3788
Hy, I am a developer , i also know web dev. very well please assign me this project

[2022-10-16 09:26] 9520prashant commented on #3653
Hello Dear, I can do your work with very optimally can you assign me this issue?

[2022-10-16 09:27] 9520prashant commented on #3474
Hello , Please Assign me this issue

[2022-10-16 09:28] 9520prashant commented on #3296
Hy , I am a DSA mentor in CPP , Please Assign me this Issue!!

[2022-10-16 09:34] sanahmathur commented on #3296
hello @fineanmol sir, please consider assigning this issue to me. I would really love to contribute on this issue as i'm a fresher in this open-source field and i've prior experience with c++.

[2022-10-16 10:31] Rakshita2003 commented on #2928
Hey, can you assign this to me?

[2022-10-16 10:42] divu02 commented on #3827
sir can you assign me this issue? I can solve in java/

[2022-10-16 11:38] pratyushkr11 commented on #3788
Can you assign me this issue?

[2022-10-16 12:04] iamAditya01 commented on #3827
assign me this one

[2022-10-16 12:43] Bitan-Kundu commented on #3645
Hello Sir, Can you assign this issue to me?

[2022-10-16 12:44] Bitan-Kundu commented on #3645
Hello sir, Can you solve this issue to me? I would like to solve this problem.

[2022-10-16 12:45] Kankanabhowmik commented on #3645
Hello sir,
Sir I have solved this issue to me? I would like to solve this problem.

[2022-10-16 12:50] ridsuteri opened #3849 "I would like to add Merge Sort implementation in java"
**Is your feature request related to a problem? Please describe.**
I would be adding merge sort implementation through java

**Additional context**
I would be contributing under Hacktoberfest 2022

[2022-10-16 12:51] ridsuteri opened #3850 "I would like to add the Heap Sort implementation in Java"
**Is your feature request related to a problem? Please describe.**
I would be adding heap sort implementation through java

**Additional context**
I would be contributing under Hacktoberfest 2022

[2022-10-16 12:55] #3788 closed

[2022-10-16 13:06] 9520prashant commented on #3850
Please Assign me this issue!

[2022-10-16 13:07] 9520prashant commented on #3734
Please Assign me this project , i can do it

[2022-10-16 13:22] Ayushithakur-2003 commented on #2211
Hello @fineanmol kindly assign this issue to me! I would like to work on it.

[2022-10-16 14:38] Moddy2024 opened #3865 "Image Compression"
**Is your feature request related to a problem? Please describe.**
This tool is very useful for webpages beacause it will take a lot of time and data to load a 1MB or a 10 MB so to solve that this will compress the image to a size that will not cosume much data and will be much easier to load for webpages while retainong the same quality as the HD image.

**Describe the solution you'd like**
I am

[2022-10-16 14:41] Moddy2024 commented on #3865
The PR for this issue is #3866 . I have star the repo.

[2022-10-16 15:25] jawadkhanpk commented on #3850
Hey Please Assign me this issue, I have a strong profile in Data Structure and Algorithms. I won lot of Hackathons in DSA. I would love to contribute to this issue. Thanks

[2022-10-16 15:26] jawadkhanpk commented on #3645
Hey, I can do it more accurately and my solutions would be more optimal and precise. Please assign me this issue Thanks

[2022-10-16 15:26] jawadkhanpk commented on #3645
@fineanmol

[2022-10-16 16:20] Athrav-droid commented on #3827
I'm using Java from Past 1.5 Years. I'm Pretty sure about solving this issue. I will be highly obliged if you allow me to solve the issue.

[2022-10-16 17:27] Sritam28 commented on #3827
I could handle this. Could  you please assigmn this to me.

[2022-10-16 17:28] Sritam28 commented on #3850
I could work on this , could you please assign this to me

[2022-10-16 17:29] Sritam28 commented on #3793
I could be the best fit for this task, Please assign me this issue.

[2022-10-16 17:31] Sritam28 commented on #3534
Assign thid to me, I could handle this

[2022-10-16 17:33] Sritam28 commented on #3297
Can i contribute to this. Its my first hacktoberfest, if its closed  you please assign me any other related issues.

[2022-10-16 18:22] gaurishajaiswal opened #3885 "I would like to make a book recommendar system using python"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-16 18:27] gaurishajaiswal commented on #3885
pull

[2022-10-16 18:30] Kumarrupesh2310 commented on #3885
Please assign this issue to me.

[2022-10-17 06:44] ishuuuu2911 commented on #3481
pls assign this issue  to  me

[2022-10-17 06:46] ishuuuu2911 commented on #2760
hey @fineanmol please assign me this task,participating first  time in Hacktoberfest fest

[2022-10-17 06:48] ishuuuu2911 commented on #2311
I  want  to add c++  solution for this issue pls @fineanmol

[2022-10-17 12:41] Moddy2024 commented on #3865
A PR for this issue has already been created. So you should look for another Issue.

[2022-10-17 15:21] prajak002 commented on #3885
sir, could you please assign me for this

[2022-10-17 15:22] prajak002 commented on #3490
sir i have starred this repo, please assign me for this issue.  i am highly obliged if you grant my request

[2022-10-17 15:50] AbhishekSharma-86 opened #3947 "I would like to add a new Blockchain using Python language"

[2022-10-17 15:50] AbhishekSharma-86 commented on #3947
assign me this

[2022-10-17 16:08] AbhishekSharma-86 commented on #3947
PR for this issue is #3949

[2022-10-17 17:32] Kumarrupesh2310 commented on #3885
@prajak002 you can go on with that

[2022-10-17 20:31] ankit060801 commented on #3850
hello sir please assign me this task

[2022-10-17 21:50] pratyushkr11 opened #3980 "I would like to add Dijkstra's Algorithm in C++"

[2022-10-17 21:51] pratyushkr11 commented on #3980
I would like to work on this issue. Please assign it to me.

[2022-10-17 22:01] ankit060801 commented on #3980
hello sir please assign me this task

[2022-10-17 22:28] #3408 closed

[2022-10-17 22:28] #3426 closed

[2022-10-17 22:28] #3457 closed

[2022-10-17 22:28] #3474 closed

[2022-10-17 22:28] #3481 closed

[2022-10-17 22:28] #3490 closed

[2022-10-17 22:28] #3533 closed

[2022-10-17 22:28] #3534 closed

[2022-10-17 22:28] #3542 closed

[2022-10-17 22:28] #3611 closed

[2022-10-17 22:28] #3616 closed

[2022-10-17 22:28] #3631 closed

[2022-10-17 22:28] #3645 closed

[2022-10-17 22:28] #3646 closed

[2022-10-17 22:28] #3653 closed

[2022-10-17 22:28] #3733 closed

[2022-10-17 22:28] #3734 closed

[2022-10-17 22:28] #3827 closed

[2022-10-17 22:28] #3849 closed

[2022-10-17 22:28] #3850 closed

[2022-10-17 22:28] #3865 closed

[2022-10-17 22:28] #3885 closed

[2022-10-17 22:28] #3947 closed

[2022-10-17 22:28] #3980 closed

[2022-10-18 01:14] Ajit619 opened #3983 "Can I add celebrity problem in cpp"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-18 04:40] Shiva4584 commented on #3245
I would like to contribute for this. kindly provide the exact problem @amitkroutthedev .

[2022-10-18 04:57] anjaliisonii commented on #3158
Please assign me this work.

[2022-10-18 05:46] Arunima-Chatterjee opened #3989 "LeetCode #38 Count and Say"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-18 05:47] Arunima-Chatterjee commented on #3989
Hi,
Kindly assign this issue to me.
Thanks

[2022-10-18 08:11] pratyushkr11 opened #4001 "I would like to add Floyd Warshall Algorithm in C++"
**Describe the solution you'd like**
I want add code of Floyd Warshall algorithm in cpp using dynamic programming method.

[2022-10-18 08:12] pratyushkr11 commented on #4001
I would like to work on this issue. Please assign me this.

[2022-10-18 08:53] Vanshika-Govindani opened #4008 "Spiral Print 2d array"
Would like to add a code in c++ that prints elements of a 2d array in spiral order.

[2022-10-18 08:56] Meghwantsingh commented on #3106
Hello I want to contribute on this project. Can you please assign it to me and tell about our requirements.

[2022-10-18 10:23] Meghwantsingh commented on #4001
I would like to try this problem pls assign me this.

[2022-10-18 10:25] Meghwantsingh commented on #3296
New to coding assign this problem to me.

[2022-10-18 10:26] Meghwantsingh commented on #3247
I  like to try

[2022-10-18 12:10] jahnvi07 commented on #2917
Hello Sir,
Can you please assign this issue to me?

[2022-10-18 14:39] EpicLulz1509 opened #4026 "can i add a google meeting bot in python made using selenium (web scraping)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-18 16:11] rahulkathuriaaa opened #4029 "Linked List Questions"
I want to add 3 Linked List Question in C++

1. Reverse a Linked List
2. Merge Two Sorted Linked List
3. Detect and remove loop in a Linked List

Kindly assign me this issue.

[2022-10-18 16:59] DhruvSanghvi2002 commented on #4029
i want to add three questions in the topic linked list
1-Quick sort on singly linked list.
2-Swap nodes in the linked list without swapping data.
3-intersection point of two linked lists.
Kindly assign me this issue.

[2022-10-18 18:17] m-messiah opened #4049 "Automerge does not work in the repo"
**Is your feature request related to a problem? Please describe.**
Automerge does not work and the build is failing as it could not find a token.
(I also wondering why it is configured with dry_run:true)

**Describe the solution you'd like**
I'd like it working)

**Additional context**
Examples of PRs:
* https://github.com/fineanmol/Hacktoberfest2022/pull/4046
* https://github.com/fineanmol/Hackto

[2022-10-18 18:19] ishita3513 opened #4050 "Leetcode (Java) : beginner Friendly to medium level Problem Solution"
As a beginner in problem-solving, I started with easy-level questions in Leetcode and pushed myself to write codes. I used to feel difficult to code by myself. I used to get time complexity solutions.
So, I am adding some useful and fun coding problem solutions from Leetcode.

[2022-10-18 18:26] eshan-003 opened #4053 "I want to add Dijkstra's algorithm in Java to this project"
Dijkstra's algorithm is a very famous and useful algorithm to find shortest path. It is frequently asked in interviews as well . I request you to please assign me this problem

[2022-10-18 19:00] Manishgupta200 commented on #4029
Hey. I can solve this .Assign it to me

[2022-10-19 02:11] Moinuddin9777 opened #4085 "PR EXCLUDED from Hacktober fest Reason: This repo doesnt follow the rules of hacktoberfest"
![image](https://user-images.githubusercontent.com/76849575/196580754-e531d5a8-5093-4bcd-afeb-d3826a65805a.png)

![image](https://user-images.githubusercontent.com/76849575/196580794-f03c2f7e-b673-49f4-a0df-1deba10b5933.png)

[2022-10-19 04:02] kumarsurajsk commented on #2917
This is not a good repo for hacktober fest. Find other one

On Tuesday, October 18, 2022, Jahnvi Srivastava ***@***.***>
wrote:

[2022-10-19 05:33] Saransh-cpp commented on #4085
Good. I guess such repositories should be banned permanently from GitHub.

[2022-10-19 08:21] sanchit677 commented on #4029
Assign it to me

[2022-10-19 11:04] tusharkumarr commented on #2927
Hey,i would like to contribue plzz assign me

[2022-10-19 13:57] infinity-lightning commented on #4029
assign it to me plzzz

[2022-10-19 14:21] kakashi-sensai commented on #3125
I want to contribute on this issue.

[2022-10-19 14:39] #3125 closed

[2022-10-19 15:10] codingday123 commented on #3186
Please assign this issue to me.

[2022-10-19 16:29] rishabh0303 commented on #3158
Can you assign this issue to me?

[2022-10-19 18:29] nutangithub commented on #3158
Hello @fineanmol
I have solved this issue using python
Please review my code and merge my pull request.

[2022-10-20 06:32] Nmn200 commented on #4029
Hello Sir, assign this issue to me

[2022-10-20 07:31] infinity-lightning commented on #4029
Plzz assign me this

[2022-10-20 08:12] #4001 closed

[2022-10-20 11:09] ishita126jain commented on #3186
Hey @fineanmol I can add numpy all basic concept in this issue so can you please assign this to me

[2022-10-20 12:09] Meghwantsingh commented on #3005
I would like to try.

[2022-10-20 12:17] Meghwantsingh commented on #3186
I would like to try this problem new to numpy.

[2022-10-20 12:19] Meghwantsingh commented on #4053
Hello like to try this problem.

[2022-10-20 13:52] codingday123 commented on #2927
Hey,i would love to contribue plzz assign me @fineanmol sir

[2022-10-20 15:09] Kevinpaulbabu1820 opened #4256 "Cannot do the push command after commit due to unable to access 'https://github.com/fineanmol/Hacktoberfest2022.git/"
Cannot do the push command after commit due to  unable to access 'https://github.com/fineanmol/Hacktoberfest2022.git/

[2022-10-20 15:10] Kevinpaulbabu1820 commented on #4256
fatal: unable to access 'https://github.com/fineanmol/Hacktoberfest2022.git/': The requested URL returned error: 403

[2022-10-20 15:39] shivanithorve01 opened #4259 "Tower of Hanoi Problem in CPP Programs Folder"
I want to add Tower of Hanoi Problem in CPP Programs Folder for Hacktoberfest2022. Please assign me this issue.

[2022-10-20 16:44] Aniketmishra0 commented on #3186
Hello
Please assign this issue to me

[2022-10-21 04:53] pritam1309 commented on #2628
@fineanmol Please assign me this under hacktoberfest-accepted

[2022-10-21 06:15] Aman736 commented on #3296
please assign to me the recussion problem...

[2022-10-21 07:48] Divyansh-0 commented on #2848
What You want to be done??

[2022-10-21 15:53] Riyazmd786 commented on #4259
please assign this to me i will do thank you

[2022-10-21 20:11] GitAbhi1289 commented on #4259
hello sir,
please assign this to me i will do this with better code representation. thankyou

[2022-10-21 20:11] GitAbhi1289 commented on #4026
hello sir please assign me this

[2022-10-22 04:13] ayush2047 commented on #4259
Hello Sir,
I really want to do this, please assign this to me.

[2022-10-22 05:24] AnujaDixit12 commented on #3186
Hello sir, can you please assign me this issue . I would like to contribute.

[2022-10-22 08:01] Meghwantsingh commented on #4259
Like to try.

[2022-10-22 08:40] Meghwantsingh commented on #2233
Like to work on this problem ( BFS).

[2022-10-22 08:56] prateek-1211 opened #4411 "hactoberfest-accepted"

[2022-10-22 09:04] prateek-1211 commented on #4411
okk

[2022-10-22 10:14] manav0702 commented on #4053
Hi , I added Java code of Dijkstar Algorithm .
Pls check that out once

[2022-10-22 10:15] manav0702 commented on #4053
Dijkstra Algorithm *

[2022-10-22 10:46] Anshika-sona commented on #2927
@fineanmol  would love to work on this plzz assign me this issue.

[2022-10-22 15:25] KP-Sinha opened #4447 "want to contribute on dijkastras algorithm"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-22 18:21] yosaami opened #4468 "contact us form page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-22 18:22] yosaami commented on #4468
please assign me this issue

[2022-10-23 03:02] drstrange11 opened #4482 "C implementation of KMP Pattern Searching Algorithm"
**Describe the solution you'd like**
To add a C implementation of KMP Pattern Searching Algorithm.
https://www.javatpoint.com/daa-knuth-morris-pratt-algorithm

[2022-10-23 03:06] drstrange11 opened #4483 "Python implementation of Rabin Karp Algorithm"
**Describe the solution you'd like**
To add a python implementation of Rabin Karp Algorithm
https://www.programiz.com/dsa/rabin-karp-algorithm

[2022-10-23 03:23] Anshika91 commented on #4483
please assign this task to me

[2022-10-23 03:24] Anshika91 commented on #4259
hey please assign it to me

[2022-10-23 03:24] Anshika91 commented on #4008
please assign this task to me

[2022-10-23 05:03] drstrange11 opened #4495 "To add a java implementation of Radix Sort"
**Describe the solution you'd like**
To add a java implementation of Radix Sort
https://www.geeksforgeeks.org/radix-sort/

[2022-10-23 05:09] ajrav11 opened #4497 "C++ implementation of merging two sorted linked lists"
**Describe the solution you'd like**
C++ implementation of merging two sorted linked lists

[2022-10-23 05:15] sahooabhipsa10 opened #4500 "Adding Sudoku Solver Code in Python"
I saw that there is the calculator code in python and thought there should be more simple python projects. So I would like to add a sudoku solver code.

[2022-10-23 06:40] Sudhanshu-shekharPandey commented on #4411
I have Done

[2022-10-23 06:58] SJ-Kumar commented on #4495
I would like to work on this. Please assign it to me

[2022-10-23 11:41] AnujMutha commented on #4500
[sahooabhipsa10](https://github.com/sahooabhipsa10) hey assign it to me !

[2022-10-23 16:31] ChandniJha630 commented on #4259
Hey Can You Please Assign me this issue.

[2022-10-23 16:33] ChandniJha630 commented on #4497
I can Solve this Question in Best Time and space complexity. Please assign this issue to me

[2022-10-23 17:02] kirtisaraf247 commented on #3106
Hello I want to contribute on this project. Can you please assign it to me

[2022-10-23 18:41] johmn123-wq commented on #4029
Hello sir, I can solve it kindly assign it to me please.

[2022-10-23 19:01] 0xYashwanth commented on #3344
Hey @chaitanyadubal, I have a pretty decent knowledge of Python and Flask. Could you please assign this to me?
Thanks for reading!

[2022-10-23 20:19] johmn123-wq commented on #2670
please assign it to me. I want to solve this using Dynamic Programming method.

[2022-10-24 01:01] Moddy2024 commented on #3106
This repository has been excluded from hacktoberfest because of violations.

[2022-10-24 02:22] DhruvSanghvi2002 commented on #4468
Hey! Please assign me this issue ,I will make it using core HTML and CSS without any framework.
.

[2022-10-24 02:24] DhruvSanghvi2002 commented on #3296
Hi! I will be glad to add questions on a very interesting topic recursion .kindly assign me this issue.

[2022-10-24 03:16] keshav-garg12 commented on #3186
plz ssign me this issue

[2022-10-24 04:30] Chetnagupta27 commented on #4497
could you please assign this issue to me?

[2022-10-24 04:37] bharat70 commented on #4497
I  can solve this problem efficiently with all exception handlings. Please assign this issue to me.

[2022-10-24 04:44] Chetnagupta27 commented on #4500
hey, Please assign this issue to me

[2022-10-24 05:01] Chetnagupta27 commented on #4495
I would like to work on this. Please assign it to me

[2022-10-24 05:38] Meghwantsingh commented on #3186
ok

[2022-10-24 06:07] Chetnagupta27 commented on #4483
Hey, can i solve this issue?

[2022-10-24 06:14] Chetnagupta27 commented on #3186
Please , assign this issue to me

[2022-10-24 06:23] shaheervk786 opened #4621 "Simple python games"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-24 06:25] shaheervk786 commented on #4621
Done i have starred

[2022-10-24 06:30] Chetnagupta27 commented on #2760
hey @fineanmol ,please assign this issue to me, participating first time in Hacktoberfest

[2022-10-24 07:23] Anish2512 commented on #4497
Can u pls assign this issue to me??

[2022-10-24 07:25] Anish2512 commented on #4447
Can u pls assign this issue to me??

[2022-10-24 07:25] Anish2512 commented on #4259
Can u pls assign this issue to me??

[2022-10-24 07:26] Anish2512 commented on #4495
Can u pls assign this issue to me??

[2022-10-24 07:26] Anish2512 commented on #4029
Can u pls assign this issue to me??

[2022-10-24 07:30] Anish2512 commented on #4008
Can u pls assign this issue to me??

[2022-10-24 08:06] Anish2512 commented on #2805
Can u pls assign this issue to me??

[2022-10-24 08:25] Aysha-py commented on #2927
Hi @fineanmol, I just starred this project, and I would also love to contribute to it. Thanks

[2022-10-24 09:01] #2760 closed

[2022-10-24 12:35] chandraPrakash23 commented on #4495
I have already work on this issue, so you can assign this issue to me. Thank you

[2022-10-24 12:37] chandraPrakash23 commented on #4259
I have already solved this problem in both c++ and java in most optimized manner, so you can assign this task to me. Thank You

[2022-10-24 12:38] chandraPrakash23 commented on #4029
You can assign this task to me,. Thank You

[2022-10-24 12:39] chandraPrakash23 commented on #4008
I have already work on this issue, so you can assign this task to me, Thank You

[2022-10-24 17:13] Sah314 commented on #2927
Hello @fineanmol I would like contributing to this project can you please assign it to me.

[2022-10-25 08:55] Kshitij-200 opened #4705 "Created Cyclic Sort.java"

[2022-10-25 12:50] Viren0602 commented on #4447
Hello sir, can you please assign this issue to me?

[2022-10-25 17:51] Anish2512 commented on #4705
Can u pls assign this issue to me??

[2022-10-25 18:03] Tanyamodi commented on #4497
I can solve this issue with optimized time and space complexity.
can you assign this to me ?

[2022-10-25 18:07] shraddhatech16 commented on #4483
Assign this issue to me pls

[2022-10-25 18:08] shraddhatech16 commented on #4053
Assign this issue to me pls

[2022-10-25 18:08] Tanyamodi commented on #4029
I would like to add more questions of Linked List-
1.Reverse a Linked List
2.Merge Sorted List
3.Bubble Sort

kindly assign this issue to me.

[2022-10-25 18:10] Tanyamodi commented on #4259
I can solve this issue, kindly assign this issue to me.

[2022-10-25 18:27] Tanyamodi commented on #4008
I can solve this issue, kindly assign this to me.

[2022-10-25 18:36] Tanyamodi opened #4759 "I would like to add Rain harvesting problem in cpp"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-25 18:58] yashhh-03 commented on #4259
Hello,
Can you assign this to me.

[2022-10-25 21:47] anushkaguptaaa opened #4769 "TimSort Implementation"
**How is this feature related to the project?**
An excellent advanced sorting algorithm where the average case and the worst case are of the same complexity

**Describe the solution you'd like**
A clear and concise solution can be found over the net

Would be amazing if I could be allowed to work on this.
Thanks!
Anushka

[2022-10-26 07:36] codershrutik opened #4790 "Python Calculator using Tkinter"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-26 07:36] aakritiguptaa commented on #4769
Helloo Maintainer!
I would love to work on this issue

Hoping I could be assigned to this.
This is my first time participating in Hacktober Fest

Thank youu

Regards
Aakriti

[2022-10-26 09:07] anishhh238 opened #4798 "Adding Linear Search algorithm in C++"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
It's a Linear Search algorithm in C++ tht helps Students to use it

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise descriptio

[2022-10-26 09:14] anishhh238 commented on #4798
I raised a PR n Stared it
Please merge the PR So I can increase my Hacksquad score

[2022-10-26 09:18] anishhh238 opened #4800 "Adding C++ Program to Concatenate Two Strings"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
C++ Program to Concatenate Two Strings tht  Concatenate Two inputed Strings:
Enter string s1: C++ Programming
Enter string s2:  is awesome.
Resultant String = C++ Programming is awesome.

**Describe the solution you'd like**
A clear and con

[2022-10-26 09:43] rahuldas-404 opened #4803 "Want to create a program in java to count the age of a person with respect to the current date"
I'll use different packages(date packages) present in java to write this program.

[2022-10-26 13:00] Ayushhgupta39 opened #4817 "Navbar Social Icons"
**Is your feature request related to a problem? Please describe.**
The navbar social media icons are not properly placed or aligned.

**Describe the solution you'd like**
After fixing this, the icons will look perfectly placed and more professional.

<img width="223" alt="image" src="https://user-images.githubusercontent.com/96309609/198032258-e3cf2d1a-5e38-4d7d-aa36-457747e307a8.png">

Please ass

[2022-10-26 13:26] UditSoniJi commented on #4800
i would like to contribute, please assign me this issue.

[2022-10-26 16:28] Venk-rgb commented on #4800
I would like to contribute. Please assign me this issue. I'm unable to push to a branch and create pull request.

[2022-10-26 20:58] nikhilmaurya26 opened #4875 "Euclid’s Algorithm to find GCD of two numbers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-27 05:46] Ayush0826 commented on #4800
Hello Sir.....assign this to me....my code is ready and it will take just few minutes to close this problem...

[2022-10-27 07:25] avanishkhursange commented on #2848
assign this issue to me

[2022-10-27 08:02] Asrani-Aman commented on #4817
please assign this task to me
<img width="1436" alt="Screenshot 2022-10-27 at 1 31 04 PM" src="https://user-images.githubusercontent.com/96644946/198226537-97fe37a5-6208-413d-a20f-1af41df3e3a3.png">
, I Have already resolve this issue

[2022-10-27 08:05] Ayushhgupta39 commented on #4817
But the icons are still not properly aligned
<img width="149" alt="image" src="https://user-images.githubusercontent.com/96309609/198227365-de6499d7-d080-4a4a-85e5-dad3a7886a0d.png">

[2022-10-27 08:06] Asrani-Aman commented on #4798
please assign this task to me

[2022-10-27 10:43] akshat2203 commented on #4817
hello @Ayushhgupta39 can you assign me this task..?

[2022-10-27 11:33] prabhleenn commented on #4029
hello sir please assign me this

[2022-10-27 11:34] prabhleenn commented on #3186
please assign me this sir

[2022-10-27 11:35] prabhleenn commented on #2927
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if I can get some more info to work with

[2022-10-27 11:36] prabhleenn commented on #2557
Hey ! I would love to work on this by making my first Hacktoberfest submission.
It would be great if you assign me this.

[2022-10-27 12:06] AnkitPandey2302 commented on #4800
Asssign the issue to me.

[2022-10-27 12:15] MohitKumarSingh-01 commented on #4817
@fineanmol  this issue to me I will make sure it enhances the UI of the website as well as fulfils its function...
Thanking you in Anticipation...
Regards
Devesh Sharma

[2022-10-27 12:16] MohitKumarSingh-01 commented on #4803
@fineanmol  Assign this issue to me
Thanking you in Anticipation...
Regards
Devesh Sharma

[2022-10-27 12:16] MohitKumarSingh-01 commented on #4800
@fineanmol Assign this issue to me I will make sure it enhances the UI of the website as well as fulfils its function...
Thanking you in Anticipation...
Regards
Devesh Sharma

[2022-10-27 12:17] MohitKumarSingh-01 commented on #4497
@fineanmol  Please Assign this issue to me
Thanking you in Anticipation...
Regards
Devesh Sharma

[2022-10-27 14:31] SJ-Kumar commented on #4875
I would like to work on this. Please assign.

[2022-10-27 14:33] SJ-Kumar commented on #4621
Please assign. I would add a few python games.

[2022-10-27 14:45] aishwarya0918 commented on #4790
Please assign me this issue

[2022-10-27 14:54] aishwarya0918 opened #4922 "Please allow to add Registration form using html css and javascript for future contact with website."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-27 15:05] inbuilt-aura commented on #4798
hello,if this is open, plzz assign me, i would be very grateful

[2022-10-27 15:05] inbuilt-aura commented on #4705
@Kshitij-200 plzz assign me this issue

[2022-10-27 18:33] riddhitech commented on #4468
Please assign me this issue.

[2022-10-28 07:37] Faiq0602 commented on #4800
Hello
I think i can do it within minimum amount of time.
Please assign it to me

[2022-10-28 07:38] Faiq0602 commented on #4798
Hello , please assign this to me because i think i can do it in minimum amount of time as it is related to linear search

[2022-10-28 10:15] Sanskrutiii commented on #4800
Please assign this to me

[2022-10-28 10:16] Sanskrutiii commented on #4803
Hello sir, can you assign this issue to me?

[2022-10-28 10:16] Sanskrutiii commented on #4798
Hello sir, can you assign this issue to me?

[2022-10-28 10:17] Sanskrutiii commented on #4790
Hello sir, can you assign this issue to me?

[2022-10-28 10:17] Sanskrutiii commented on #4500
Hello, can you assign this issue to me?

[2022-10-28 15:08] Kp-cloud371 commented on #4800
Please assigne this issue to me

[2022-10-28 17:11] emojivibe commented on #4803
can you please assign this to me?

[2022-10-29 05:03] varunbgit opened #5036 "Add a code to Check if cycle exists in the Linked List or Not."
**Is your feature request related to a problem? Please describe.**
This repo lacks the code related to classic problems of Linked List

**Describe the solution you'd like**
I Would like to add some of the most asked and classic Linked List Problems,

**Describe alternatives you've considered**
Let's inspire other creators as well to write and submit some code for linked List

[2022-10-29 05:29] Ak8933 commented on #3186
@fineanmol sir, can u assign this issue to me?

[2022-10-29 09:29] YohanesGetinet1 commented on #4621
Hello, would you assign this to me?

[2022-10-30 00:12] allan-anilson commented on #4500
Hey @sahooabhipsa10 , i would love to contribute to this issue, could you assign it to me?

[2022-10-30 02:50] surajkeshari opened #5084 "Add an code of LRU Cache"

[2022-10-30 03:05] surajkeshari commented on #5084
I added in starred.
Plaese merge my PR under hacktoberfest .

On Sun, 30 Oct 2022 at 08:20, github-actions[bot] ***@***.***>
wrote:

[2022-10-30 10:46] Megggggggh2 commented on #5036
Hey, @varunbgit I would like to work on this issue. Please assign it to me

[2022-10-30 18:51] Ashishbit01 commented on #4875
I want to work on this issue plz assign it to me

[2022-10-31 10:19] Bhavish5 opened #5202 "BinarySearch in java"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-10-31 10:23] Bhavish5 commented on #5202
[BinarySearch.txt](https://github.com/fineanmol/Hacktoberfest2022/files/9900205/BinarySearch.txt)

[2022-10-31 10:23] #5202 closed

[2022-10-31 10:25] Bhavish5 commented on #4800
Can you assign me this issues please?

[2022-10-31 12:54] Ashishbit01 commented on #4259
hello dan you assign this to me

[2022-10-31 12:54] Ashishbit01 commented on #4259
hello can you assign this to me

[2022-10-31 16:30] JoshiUtsav commented on #4817
**Assign this task to me **

[2022-10-31 18:29] Vishal2002 commented on #4875
Please assign it to me.

[2022-11-05 06:03] arnab132 commented on #4817
Assign to me as well.

[2022-11-05 06:04] #4817 closed